In [1]:
# 파일 읽어오기 함수화

In [2]:
import os 
import glob
import pandas as pd
import numpy as np

folder_path = 'C:/Users/miinn/보안등'
files_path = 'C:/Users/miinn/보안등'
read_files = glob.glob(os.path.join(files_path, '*.csv'))
file_names = []
    
for files in read_files:
    file_names.append(files)
    
global file_names

In [3]:
def f_sclight1(x):
    
    np_array_values = []
    security_light = pd.read_csv(file_names[x], encoding = 'cp949', header= 0)
    np_array_values.append(security_light)
    merge_values = np.vstack(np_array_values)
    df_sclight1 = pd.DataFrame(merge_values)
    df_sclight1.columns = security_light.columns
    df_sclight1_1 = df_sclight1.drop(['보안등위치명', '설치연도', '설치형태', '관리기관전화번호', '관리기관명'], axis = 1)
    df_sclight1_1['주소'] = np.where(pd.notnull(df_sclight1_1['소재지지번주소'])==True, df_sclight1_1['소재지지번주소'], df_sclight1['소재지도로명주소'])
    df_sclight1_2 = df_sclight1_1.drop(['소재지도로명주소', '소재지지번주소'], axis = 1)
    df_sclight1_2 = df_sclight1_2[['주소', '위도', '경도', '설치개수', '데이터기준일자']]
    df_sclight1_2.rename(columns={'주소': 'address', '위도': 'lat', '경도':'long', '설치개수':'install_cnt', '데이터기준일자':'date'}, inplace=True)
    df_sclight1_2['state'] = df_sclight1_2['address'].str.split().str[0]
    df_sclight1_2['city'] = df_sclight1_2['address'].str.split().str[1]
    df_sclight1_2 = df_sclight1_2[['address', 'state', 'city', 'lat', 'long', 'install_cnt', 'date']]
    
    print(f'last page: {len(file_names)-1}')
    return pd.DataFrame(df_sclight1_2)

In [4]:
for i in range(len(file_names)):
    print(f_sclight1(i)['state'].unique())

last page: 114
['강원도']
last page: 114
['강원도']
last page: 114
['강원도']
last page: 114
['강원도']
last page: 114
['강원도']
last page: 114
['강원도']
last page: 114
['강원도']
last page: 114
['강원도']
last page: 114
['강원도' '강원' '경기']
last page: 114
['강원도']
last page: 114
['강원도']
last page: 114
['강원도']
last page: 114
['강원도']
last page: 114
['강원도']
last page: 114
['경기도']
last page: 114
['경기도' '191224' '송산로174번길' '덕이로' '덕이로292번길' '신덕로2번길' '송산로334번길' '송산로266번길']
last page: 114
['경기도']
last page: 114
['경기도']
last page: 114
['경기도']
last page: 114
['경기도']
last page: 114
['경기도']
last page: 114
['경기도']
last page: 114
['경기도']
last page: 114
['경기도']
last page: 114
['경기도']
last page: 114
['경기도']
last page: 114
['경기도' '권선구' '장안구']
last page: 114
['경기도']
last page: 114
['경기도']
last page: 114
['경기도' '충청북도' '충청남도']
last page: 114
['경기도']
last page: 114
['경기도']
last page: 114
['경기도']
last page: 114
['경기도']
last page: 114
['경기도']
last page: 114
['경기도' nan]
last page: 114
['경기도']
last page: 114
['경기도' '서울특별시']
last page: 114
['경기도']
last page: 114
['경기도']
last page: 114
['경기도' '충청남도']
last page: 114
['경기도']
last page: 114
['경기도']
last page: 114
['경기도']
last page: 114
['경상남도' '동부면' '둔덕면' '경남' '수월동' '거제시']
last page: 114
['경상남도']
last page: 114
['경상남도']
last page: 114
['경상남도']
last page: 114
['경상남도' '겅상남도' '경사남도']
last page: 114
['경상남도']
last page: 114
['경상남도']
last page: 114
['경상남도']
last page: 114
['경상남도']
last page: 114
['경상남도']
last page: 114
['경상남도']
last page: 114
['경상남도']
last page: 114
['경상남도']
last page: 114
['경상남도']
last page: 114
['경상남도']
last page: 114
['경상남도']
last page: 114
['경상남도']
last page: 114
['경상북도']
last page: 114
['경상북도']
last page: 114
['경상북도']
last page: 114
['경상북도']
last page: 114
['경상북도']
last page: 114
['경상북도']
last page: 114
['경상북도' '강원도']
last page: 114
['경상북도']
last page: 114
['경상북도']
last page: 114
['경상북도']
last page: 114
['경상북도']
last page: 114
['경상북도' '경북']
last page: 114
['경상북도']
last page: 114
['경상북도']
last page: 114
['경상북도' '강원도']
last page: 114
['경상북도']
last page: 114
['경상북도']
last page: 114
['경상북도']
last page: 114
['경상북도' '신광면']
last page: 114
['광주광역시']
last page: 114
['광주광역시']
last page: 114
['광주광역시']
last page: 114
['광주광역시']
last page: 114
['광주광역시']
last page: 114
['대구광역시' '대구']
last page: 114
['대구광역시']
last page: 114
['대구광역시' '35.873161183' '대구']
last page: 114
['대구광역시']
last page: 114
['대구광역시']
last page: 114
['대구광역시']
last page: 114
['대구광역시']
last page: 114
['대구광역시']
last page: 114
['대전광역시' '1684-7' '1695-5' '267-1' '267-3' '1694-3' '113-3' '장동209-32번지'
 '487-6']
last page: 114
['대전광역시']
last page: 114
['대전광역시']
last page: 114
['대전광역시']
last page: 114
['대전광역시']
last page: 114
['대전광역시']
last page: 114
['부산광역시']
last page: 114
['부산광역시']
last page: 114
['부산광역시']
last page: 114
['부산광역시']
last page: 114
['부산광역시']
last page: 114
['부산광역시']
last page: 114
['부산광역시']
last page: 114
['부산광역시']
last page: 114
['부산광역시']
last page: 114
['부산광역시']
last page: 114
['부산광역시' '부상광역시']
last page: 114
['부산광역시']
last page: 114
['부산광역시']
last page: 114
['부산광역시']
last page: 114
['부산광역시']
last page: 114
['부산광역시']

## 'state'가 잘못 들어간 아이들 추출 및 drop 진행

In [5]:
prob_list = [8, 15, 26, 29, 37, 40, 44, 48, 67, 72, 75, 79, 85, 87, 93, 109]

for i in prob_list:
    print(file_names[i])

C:/Users/miinn/보안등\강원도_철원군청_보안등정보_20211021_1634862601055_359608.csv
C:/Users/miinn/보안등\경기도_고양시_보안등정보_20210927_1632975501220_1552009.csv
C:/Users/miinn/보안등\경기도_수원시_보안등정보_20220527.csv
C:/Users/miinn/보안등\경기도_안성시_보안등정보_20210315_1615815438485_2410370.csv
C:/Users/miinn/보안등\경기도_의정부시_보안등정보_20220930.csv
C:/Users/miinn/보안등\경기도_평택시_보안등정보_20220613.csv
C:/Users/miinn/보안등\경상남도_거제시_보안등정보_20220719.csv
C:/Users/miinn/보안등\경상남도_남해군_보안등정보_20220329_1648529076592_861886.csv
C:/Users/miinn/보안등\경상북도_봉화군_보안등정보_20220527.csv
C:/Users/miinn/보안등\경상북도_영양군_보안등정보_20201224_1608773990416_461155.csv
C:/Users/miinn/보안등\경상북도_울진군_보안등정보_20221130.csv
C:/Users/miinn/보안등\경상북도_포항시_보안등정보_20211007_1634115913168_2134153.csv
C:/Users/miinn/보안등\대구광역시_남구_보안등정보_20220804.csv
C:/Users/miinn/보안등\대구광역시_달성군_보안등정보_20220608.csv
C:/Users/miinn/보안등\대전광역시_대덕구_보안등정보_20220614.csv
C:/Users/miinn/보안등\부산광역시_서구_보안등정보_20220916.csv

In [6]:
prob_list = [8, 15, 26, 29, 37, 40, 44, 48, 67, 72, 75, 79, 85, 87, 93, 109]

for i in prob_list:
     print(f_sclight1(i)['state'].unique())

last page: 114
['강원도' '강원' '경기']
last page: 114
['경기도' '191224' '송산로174번길' '덕이로' '덕이로292번길' '신덕로2번길' '송산로334번길' '송산로266번길']
last page: 114
['경기도' '권선구' '장안구']
last page: 114
['경기도' '충청북도' '충청남도']
last page: 114
['경기도' '서울특별시']
last page: 114
['경기도' '충청남도']
last page: 114
['경상남도' '동부면' '둔덕면' '경남' '수월동' '거제시']
last page: 114
['경상남도' '겅상남도' '경사남도']
last page: 114
['경상북도' '강원도']
last page: 114
['경상북도' '경북']
last page: 114
['경상북도' '강원도']
last page: 114
['경상북도' '신광면']
last page: 114
['대구광역시' '대구']
last page: 114
['대구광역시' '35.873161183' '대구']
last page: 114
['대전광역시' '1684-7' '1695-5' '267-1' '267-3' '1694-3' '113-3' '장동209-32번지'
 '487-6']
last page: 114
['부산광역시' '부상광역시']

In [7]:
f_sclight1(8)[f_sclight1(8)['state']=='강원'].index

last page: 114
last page: 114

Int64Index([1494, 3740, 3747, 3748, 3749, 3750, 3751, 3752, 3755, 3757, 3773], dtype='int64')

In [8]:
f_sclight1(8).loc[[1494, 3740, 3747, 3748, 3749, 3750, 3751, 3752, 3755, 3757, 3773], :]['address'].str.replace('강원', '강원도')

last page: 114

1494          강원도 근남면 육단리 287-6
3740           강원도 철원읍 화지리 40-2
3747            강원도 철원읍 화지리 950
3748          강원도 철원읍 화지리 28-88
3749            강원도 철원읍 화지리 920
3750          강원도 철원읍 화지리 18-40
3751           강원도 철원읍 화지리 1023
3752    강원도 철원읍 화지리995(화지리1025)
3755            강원도 철원읍 화지리 925
3757          강원도 철원읍 화지리 48-83
3773           강원도 철원읍 화지리 95-3
Name: address, dtype: object

In [9]:
f_sclight1(8)[f_sclight1(8)['state']=='경기'].dropna(inplace=True)

last page: 114
last page: 114

In [10]:
f_df_sclight = f_sclight1(8).copy()

last page: 114

In [11]:
f_df_sclight.drop(1974,axis=0, inplace=True)

In [12]:
f_df_sclight[f_df_sclight['state']=='경기']

Empty DataFrame
Columns: [address, state, city, lat, long, install_cnt, date]
Index: []

In [13]:
f_sclight1(8)[f_sclight1(8)['state']=='경기']

last page: 114
last page: 114

                  address state city  lat long install_cnt        date
1974  경기 포천시 관인면 초과리 44-0    경기  포천시  NaN  NaN           1  2021-10-21

## 강원도 ~ 부산광역시 파일 한번에 읽고 합치기

In [14]:
import os 
import glob
import pandas as pd
import numpy as np

folder_path = 'C:/Users/miinn/보안등'
files_path = 'C:/Users/miinn/보안등'
read_files = glob.glob(os.path.join(files_path, '*.csv'))

In [15]:
np_array_values = []
file_names = []
for files in read_files:
    security_light = pd.read_csv(files, encoding = 'cp949', header= 0)
    np_array_values.append(security_light)
    file_names.append(files)
#     print(files)

In [16]:
"""

import shutil
import os

src_folder = "보안등"
dst_folder = "보안등3"

files = file_names3
folders = file_names5

src_path_list = []

for file in files:
    src_path = os.path.join(src_folder, file) # 파일경로
    src_path_list.append(src_path)
    
src_path_list

"""

'\n\nimport shutil\nimport os\n\nsrc_folder = "보안등"\ndst_folder = "보안등3"\n\nfiles = file_names3\nfolders = file_names5\n\nsrc_path_list = []\n\nfor file in files:\n    src_path = os.path.join(src_folder, file) # 파일경로\n    src_path_list.append(src_path)\n    \nsrc_path_list\n\n'

In [17]:
"""
dst_path_list = []

for folder in folders:
    os.makedirs(os.path.join(dst_folder, folder), exist_ok=True) # 폴더 생성
    dst_path = os.path.join(dst_folder, folder) #이동폴더경로
    dst_path_list.append(dst_path)
    
    
for i in range(len(src_path_list)):
    shutil.copy(src_path_list[i], dst_path_list[i])
"""

'\ndst_path_list = []\n\nfor folder in folders:\n    os.makedirs(os.path.join(dst_folder, folder), exist_ok=True) # 폴더 생성\n    dst_path = os.path.join(dst_folder, folder) #이동폴더경로\n    dst_path_list.append(dst_path)\n    \n    \nfor i in range(len(src_path_list)):\n    shutil.copy(src_path_list[i], dst_path_list[i])\n'

In [18]:
security_light.columns

Index(['보안등위치명', '설치개수', '소재지도로명주소', '소재지지번주소', '위도', '경도', '설치연도', '설치형태',
       '관리기관전화번호', '관리기관명', '데이터기준일자'],
      dtype='object')

In [19]:
np_array_values[0]

,보안등위치명,설치개수,소재지도로명주소,소재지지번주소,위도,경도,설치연도,설치형태,관리기관전화번호,관리기관명,데이터기준일자
0,강남동1,1,NaN,강원도 강릉시 장현동 463-1,37.728580,128.887487,NaN,한전주,033-660-3926,강원도 강릉시 강남동주민센터,2022-07-20
1,강남동2,1,NaN,강원도 강릉시 장현동 40-1,37.732262,128.900575,NaN,한전주,033-660-3926,강원도 강릉시 강남동주민센터,2022-07-20
2,강남동3,1,NaN,강원도 강릉시 장현동 97-2,37.730126,128.900761,NaN,한전주,033-660-3926,강원도 강릉시 강남동주민센터,2022-07-20
3,강남동4,1,NaN,강원도 강릉시 담산동 55-1,37.717822,128.904406,NaN,한전주,033-660-3926,강원도 강릉시 강남동주민센터,2022-07-20
4,강남동5,1,NaN,강원도 강릉시 담산동 55-1,37.717822,128.904406,NaN,한전주,033-660-3926,강원도 강릉시 강남동주민센터,2022-07-20
...,...,...,...,...,...,...,...,...,...,...,...
12248,홍제동398,1,NaN,강원도 강릉시 홍제동 921-3,37.747866,128.858246,NaN,한전주,033-660-3714,강원도 강릉시 홍제동주민센터,2022-07-20
12249,홍제동399,1,NaN,강원도 강릉시 홍제동 606,NaN,NaN,NaN,한전주,033-660-3714,강원도 강릉시 홍제동주민센터,2022-07-20
12250,홍제동400,1,NaN,강원도 강릉시 홍제동 산249-1,NaN,NaN,NaN,한전주,033-660-3714,강원도 강릉시 홍제동주민센터,2022-07-20
12251,홍제동401,1,NaN,강원도 강릉시 홍제동 481-1,NaN,NaN,NaN,한전주,033-660-3714,강원도 강릉시 홍제동주민센터,2022-07-20
12252,홍제동402,1,NaN,강원도 강릉시 홍제동 96-37,NaN,NaN,NaN,한전주,033-660-3714,강원도 강릉시 홍제동주민센터,2022-07-20

In [20]:
merge_values = np.vstack(np_array_values)
security_light_data = pd.DataFrame(merge_values)
security_light_data.columns = security_light.columns
security_light_data

,보안등위치명,설치개수,소재지도로명주소,소재지지번주소,위도,경도,설치연도,설치형태,관리기관전화번호,관리기관명,데이터기준일자
0,강남동1,1,NaN,강원도 강릉시 장현동 463-1,37.72858,128.887487,NaN,한전주,033-660-3926,강원도 강릉시 강남동주민센터,2022-07-20
1,강남동2,1,NaN,강원도 강릉시 장현동 40-1,37.732262,128.900575,NaN,한전주,033-660-3926,강원도 강릉시 강남동주민센터,2022-07-20
2,강남동3,1,NaN,강원도 강릉시 장현동 97-2,37.730126,128.900761,NaN,한전주,033-660-3926,강원도 강릉시 강남동주민센터,2022-07-20
3,강남동4,1,NaN,강원도 강릉시 담산동 55-1,37.717822,128.904406,NaN,한전주,033-660-3926,강원도 강릉시 강남동주민센터,2022-07-20
4,강남동5,1,NaN,강원도 강릉시 담산동 55-1,37.717822,128.904406,NaN,한전주,033-660-3926,강원도 강릉시 강남동주민센터,2022-07-20
...,...,...,...,...,...,...,...,...,...,...,...
874257,한전주,1,부산광역시 해운대구 좌동순환로 387,NaN,35.1623,129.178351,NaN,NaN,051-749-4686,부산광역시 해운대구청,2022-06-02
874258,전용주(강관),1,부산광역시 해운대구 좌동순환로 387,NaN,35.1623,129.178351,NaN,NaN,051-749-4686,부산광역시 해운대구청,2022-06-02
874259,벽부주,1,부산광역시 해운대구 좌동순환로 379,NaN,35.162776,129.179117,NaN,NaN,051-749-4686,부산광역시 해운대구청,2022-06-02
874260,전용주(강관),1,NaN,부산광역시 해운대구 중동 1520-17,35.163319,129.179676,NaN,NaN,051-749-4686,부산광역시 해운대구청,2022-06-02
874261,전용주(강관),1,부산광역시 해운대구 우동2로32번길 43-17,NaN,35.169074,129.159843,NaN,NaN,051-749-4686,부산광역시 해운대구청,2022-06-02

## 필요없는 컬럼 drop ['보안등위치명', '설치연도', '설치형태', '관리기관전화번호', '관리기관명']

In [21]:
security_light_clean = security_light_data.drop(['보안등위치명', '설치연도', '설치형태', '관리기관전화번호', '관리기관명'], axis = 1)

## 지번주소가 없을땐 도로명주소를 참고하여 합친 새로운 '주소' 컬럼 생성

In [22]:
security_light_clean['주소'] = np.where(pd.notnull(security_light_clean['소재지지번주소'])==True, security_light_clean['소재지지번주소'], security_light_clean['소재지도로명주소'])
security_light_clean

,설치개수,소재지도로명주소,소재지지번주소,위도,경도,데이터기준일자,주소
0,1,NaN,강원도 강릉시 장현동 463-1,37.72858,128.887487,2022-07-20,강원도 강릉시 장현동 463-1
1,1,NaN,강원도 강릉시 장현동 40-1,37.732262,128.900575,2022-07-20,강원도 강릉시 장현동 40-1
2,1,NaN,강원도 강릉시 장현동 97-2,37.730126,128.900761,2022-07-20,강원도 강릉시 장현동 97-2
3,1,NaN,강원도 강릉시 담산동 55-1,37.717822,128.904406,2022-07-20,강원도 강릉시 담산동 55-1
4,1,NaN,강원도 강릉시 담산동 55-1,37.717822,128.904406,2022-07-20,강원도 강릉시 담산동 55-1
...,...,...,...,...,...,...,...
874257,1,부산광역시 해운대구 좌동순환로 387,NaN,35.1623,129.178351,2022-06-02,부산광역시 해운대구 좌동순환로 387
874258,1,부산광역시 해운대구 좌동순환로 387,NaN,35.1623,129.178351,2022-06-02,부산광역시 해운대구 좌동순환로 387
874259,1,부산광역시 해운대구 좌동순환로 379,NaN,35.162776,129.179117,2022-06-02,부산광역시 해운대구 좌동순환로 379
874260,1,NaN,부산광역시 해운대구 중동 1520-17,35.163319,129.179676,2022-06-02,부산광역시 해운대구 중동 1520-17
874261,1,부산광역시 해운대구 우동2로32번길 43-17,NaN,35.169074,129.159843,2022-06-02,부산광역시 해운대구 우동2로32번길 43-17

In [23]:
security_light_clean

,설치개수,소재지도로명주소,소재지지번주소,위도,경도,데이터기준일자,주소
0,1,NaN,강원도 강릉시 장현동 463-1,37.72858,128.887487,2022-07-20,강원도 강릉시 장현동 463-1
1,1,NaN,강원도 강릉시 장현동 40-1,37.732262,128.900575,2022-07-20,강원도 강릉시 장현동 40-1
2,1,NaN,강원도 강릉시 장현동 97-2,37.730126,128.900761,2022-07-20,강원도 강릉시 장현동 97-2
3,1,NaN,강원도 강릉시 담산동 55-1,37.717822,128.904406,2022-07-20,강원도 강릉시 담산동 55-1
4,1,NaN,강원도 강릉시 담산동 55-1,37.717822,128.904406,2022-07-20,강원도 강릉시 담산동 55-1
...,...,...,...,...,...,...,...
874257,1,부산광역시 해운대구 좌동순환로 387,NaN,35.1623,129.178351,2022-06-02,부산광역시 해운대구 좌동순환로 387
874258,1,부산광역시 해운대구 좌동순환로 387,NaN,35.1623,129.178351,2022-06-02,부산광역시 해운대구 좌동순환로 387
874259,1,부산광역시 해운대구 좌동순환로 379,NaN,35.162776,129.179117,2022-06-02,부산광역시 해운대구 좌동순환로 379
874260,1,NaN,부산광역시 해운대구 중동 1520-17,35.163319,129.179676,2022-06-02,부산광역시 해운대구 중동 1520-17
874261,1,부산광역시 해운대구 우동2로32번길 43-17,NaN,35.169074,129.159843,2022-06-02,부산광역시 해운대구 우동2로32번길 43-17

In [24]:
security_light_clean.isna().sum() # 10개는 둘다 없는것 - 날려야함

설치개수             0
소재지도로명주소    525507
소재지지번주소      57969
위도          134401
경도          134752
데이터기준일자          0
주소              10
dtype: int64

In [25]:
df_sclight1 = security_light_clean.drop(['소재지도로명주소', '소재지지번주소'], axis = 1)

In [26]:
df_sclight1.isna().sum()

설치개수            0
위도         134401
경도         134752
데이터기준일자         0
주소             10
dtype: int64

In [27]:
df_sclight1

       설치개수         위도          경도     데이터기준일자                         주소
0         1   37.72858  128.887487  2022-07-20          강원도 강릉시 장현동 463-1
1         1  37.732262  128.900575  2022-07-20           강원도 강릉시 장현동 40-1
2         1  37.730126  128.900761  2022-07-20           강원도 강릉시 장현동 97-2
3         1  37.717822  128.904406  2022-07-20           강원도 강릉시 담산동 55-1
4         1  37.717822  128.904406  2022-07-20           강원도 강릉시 담산동 55-1
...     ...        ...         ...         ...                        ...
874257    1    35.1623  129.178351  2022-06-02       부산광역시 해운대구 좌동순환로 387
874258    1    35.1623  129.178351  2022-06-02       부산광역시 해운대구 좌동순환로 387
874259    1  35.162776  129.179117  2022-06-02       부산광역시 해운대구 좌동순환로 379
874260    1  35.163319  129.179676  2022-06-02      부산광역시 해운대구 중동 1520-17
874261    1  35.169074  129.159843  2022-06-02  부산광역시 해운대구 우동2로32번길 43-17

[874262 rows x 5 columns]

In [28]:
df_sclight1.loc[df_sclight1['주소'].isnull()] # 도로가 없는 데이터는 위도, 경도가 모두 있으므로 살림

       설치개수         위도          경도     데이터기준일자   주소
286646    1  37.322221  127.098055  2019-07-11  NaN
286649    1  37.347595  127.074637  2019-07-11  NaN
286653    1  37.352356  127.051022  2019-07-11  NaN
286654    1  37.347878  127.075029  2019-07-11  NaN
286655    1  37.352292  127.050989  2019-07-11  NaN
286656    1  37.352541  127.061822  2019-07-11  NaN
287211    1  37.344997  127.061633  2019-07-11  NaN
287472    1  37.309964  127.076666  2019-07-11  NaN
287558    1  37.319594  127.056815  2019-07-11  NaN
287695    1   37.33267  127.057069  2019-07-11  NaN

In [29]:
df_sclight1 = df_sclight1[['주소', '위도', '경도', '설치개수', '데이터기준일자']]
df_sclight1

                               주소         위도          경도 설치개수     데이터기준일자
0               강원도 강릉시 장현동 463-1   37.72858  128.887487    1  2022-07-20
1                강원도 강릉시 장현동 40-1  37.732262  128.900575    1  2022-07-20
2                강원도 강릉시 장현동 97-2  37.730126  128.900761    1  2022-07-20
3                강원도 강릉시 담산동 55-1  37.717822  128.904406    1  2022-07-20
4                강원도 강릉시 담산동 55-1  37.717822  128.904406    1  2022-07-20
...                           ...        ...         ...  ...         ...
874257       부산광역시 해운대구 좌동순환로 387    35.1623  129.178351    1  2022-06-02
874258       부산광역시 해운대구 좌동순환로 387    35.1623  129.178351    1  2022-06-02
874259       부산광역시 해운대구 좌동순환로 379  35.162776  129.179117    1  2022-06-02
874260      부산광역시 해운대구 중동 1520-17  35.163319  129.179676    1  2022-06-02
874261  부산광역시 해운대구 우동2로32번길 43-17  35.169074  129.159843    1  2022-06-02

[874262 rows x 5 columns]

## df_sclight1 컬럼명 영문 변환

In [30]:
df_sclight1.rename(columns={'주소': 'address', '위도': 'lat', '경도':'long', '설치개수':'install_cnt', '데이터기준일자':'date'}, inplace=True)

In [31]:
df_sclight1['state'] = df_sclight1['address'].str.split().str[0]
df_sclight1['city'] = df_sclight1['address'].str.split().str[1]

In [32]:
df_sclight1 = df_sclight1[['address', 'state', 'city', 'lat', 'long', 'install_cnt', 'date']]
df_sclight1

,address,state,city,lat,long,install_cnt,date
0,강원도 강릉시 장현동 463-1,강원도,강릉시,37.72858,128.887487,1,2022-07-20
1,강원도 강릉시 장현동 40-1,강원도,강릉시,37.732262,128.900575,1,2022-07-20
2,강원도 강릉시 장현동 97-2,강원도,강릉시,37.730126,128.900761,1,2022-07-20
3,강원도 강릉시 담산동 55-1,강원도,강릉시,37.717822,128.904406,1,2022-07-20
4,강원도 강릉시 담산동 55-1,강원도,강릉시,37.717822,128.904406,1,2022-07-20
...,...,...,...,...,...,...,...
874257,부산광역시 해운대구 좌동순환로 387,부산광역시,해운대구,35.1623,129.178351,1,2022-06-02
874258,부산광역시 해운대구 좌동순환로 387,부산광역시,해운대구,35.1623,129.178351,1,2022-06-02
874259,부산광역시 해운대구 좌동순환로 379,부산광역시,해운대구,35.162776,129.179117,1,2022-06-02
874260,부산광역시 해운대구 중동 1520-17,부산광역시,해운대구,35.163319,129.179676,1,2022-06-02
874261,부산광역시 해운대구 우동2로32번길 43-17,부산광역시,해운대구,35.169074,129.159843,1,2022-06-02

## city, lat, long 하나만 있는 경우 혹은 둘다 없는 경우 모두 drop

In [33]:
df_sclight1.isna().sum()

address            10
state              10
city               24
lat            134401
long           134752
install_cnt         0
date                0
dtype: int64

In [34]:
df_sclight1_check = df_sclight1.loc[df_sclight1['city'].isnull()]

In [35]:
nolat_index = df_sclight1_check.loc[df_sclight1_check['lat'].isnull()].index
nolat_index

Int64Index([97724, 98471, 98488, 98532, 98653, 98740, 744600, 744601, 744605,
            744607],
           dtype='int64')

In [36]:
nolong_index = df_sclight1_check.loc[df_sclight1_check['long'].isnull()].index
nolong_index

Int64Index([97724, 98471, 98488, 98532, 98653, 98740, 744600, 744601, 744605,
            744607],
           dtype='int64')

In [37]:
df_sclight1.drop([86933,  87001,  87089,  97724,  98471,  98488,  98532,  98653,
             98740, 744600, 744601, 744605, 744607, 86903,  86952,  87096], axis =0, inplace = True)

C:\Users\miinn\AppData\Local\Temp\ipykernel_30260\2739583584.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sclight1.drop([86933,  87001,  87089,  97724,  98471,  98488,  98532,  98653,

In [38]:
df_sclight1.loc[df_sclight1['city'].isnull() & df_sclight1['address'].isnull()]

       address state city        lat        long install_cnt        date
286646     NaN   NaN  NaN  37.322221  127.098055           1  2019-07-11
286649     NaN   NaN  NaN  37.347595  127.074637           1  2019-07-11
286653     NaN   NaN  NaN  37.352356  127.051022           1  2019-07-11
286654     NaN   NaN  NaN  37.347878  127.075029           1  2019-07-11
286655     NaN   NaN  NaN  37.352292  127.050989           1  2019-07-11
286656     NaN   NaN  NaN  37.352541  127.061822           1  2019-07-11
287211     NaN   NaN  NaN  37.344997  127.061633           1  2019-07-11
287472     NaN   NaN  NaN  37.309964  127.076666           1  2019-07-11
287558     NaN   NaN  NaN  37.319594  127.056815           1  2019-07-11
287695     NaN   NaN  NaN   37.33267  127.057069           1  2019-07-11

In [39]:
df_sclight1.loc[df_sclight1['lat'].isnull() & df_sclight1['long'].isnull()]

                     address  state city  lat long install_cnt        date
5          강원도 강릉시 담산동 322-3    강원도  강릉시  NaN  NaN           1  2022-07-20
6            강원도 강릉시 박월동 370    강원도  강릉시  NaN  NaN           1  2022-07-20
13         강원도 강릉시 노암동 217-1    강원도  강릉시  NaN  NaN           1  2022-07-20
21           강원도 강릉시 장현동 224    강원도  강릉시  NaN  NaN           1  2022-07-20
22           강원도 강릉시 장현동 282    강원도  강릉시  NaN  NaN           1  2022-07-20
...                      ...    ...  ...  ...  ...         ...         ...
858027   부산광역시 서구 토성동5가 19-1  부산광역시   서구  NaN  NaN           1  2022-09-16
858028   부산광역시 서구 토성동5가 38-1  부산광역시   서구  NaN  NaN           1  2022-09-16
858029   부산광역시 서구 토성동5가 39-7  부산광역시   서구  NaN  NaN           1  2022-09-16
858030   부산광역시 서구 토성동5가 48-3  부산광역시   서구  NaN  NaN           1  2022-09-16
858031  부산광역시 서구 토성동5가 57-13  부산광역시   서구  NaN  NaN           1  2022-09-16

[132207 rows x 7 columns]

In [40]:
df_sclight1.loc[df_sclight1['lat'].isnull() & df_sclight1['long'].isnull() & df_sclight1['address'].isnull()]

Empty DataFrame
Columns: [address, state, city, lat, long, install_cnt, date]
Index: []

In [41]:
df_sclight1.loc[df_sclight1['city'].isnull()]

,address,state,city,lat,long,install_cnt,date
286646,NaN,NaN,NaN,37.322221,127.098055,1,2019-07-11
286649,NaN,NaN,NaN,37.347595,127.074637,1,2019-07-11
286653,NaN,NaN,NaN,37.352356,127.051022,1,2019-07-11
286654,NaN,NaN,NaN,37.347878,127.075029,1,2019-07-11
286655,NaN,NaN,NaN,37.352292,127.050989,1,2019-07-11
286656,NaN,NaN,NaN,37.352541,127.061822,1,2019-07-11
287211,NaN,NaN,NaN,37.344997,127.061633,1,2019-07-11
287472,NaN,NaN,NaN,37.309964,127.076666,1,2019-07-11
287558,NaN,NaN,NaN,37.319594,127.056815,1,2019-07-11
287695,NaN,NaN,NaN,37.33267,127.057069,1,2019-07-11
689475,35.873161183,35.873161183,NaN,35.873006,128.498271,1,2022-06-08
747889,113-3,113-3,NaN,36.382226,127.427602,1,2022-06-14
748199,장동209-32번지,장동209-32번지,NaN,36.416989,127.440684,1,2022-06-14
748305,487-6,487-6,NaN,36.375182,127.415606,1,2022-06-14

In [42]:
df_sclight1[df_sclight1['city']=='가평군']

,address,state,city,lat,long,install_cnt,date
77987,경기도 가평군 조종면 현리 491-2,경기도,가평군,37.807959,127.353412,1,2021-08-24
77988,경기도 가평군 조종면 현리 483-11,경기도,가평군,37.808687,127.353019,1,2021-08-24
77989,경기도 가평군 조종면 현리 477-35,경기도,가평군,37.80923,127.352399,1,2021-08-24
77990,경기도 가평군 가평읍 읍내리 496-12,경기도,가평군,37.830829,127.511255,1,2021-08-24
77991,경기도 가평군 가평읍 읍내리 337-1,경기도,가평군,37.828171,127.51289,1,2021-08-24
...,...,...,...,...,...,...,...
87106,경기도 가평군 북면 백둔리 산90-1,경기도,가평군,37.910919,127.472228,1,2021-08-24
87107,경기도 가평군 북면 소법리 563-1,경기도,가평군,37.892497,127.547572,1,2021-08-24
87108,경기도 가평군 북면 소법리 542-3,경기도,가평군,37.89556,127.550562,1,2021-08-24
87109,경기도 가평군 북면 소법리 72,경기도,가평군,37.911466,127.564362,1,2021-08-24
87110,경기도 가평군 북면 화악리 794-23,경기도,가평군,37.93703,127.543055,1,2021-08-24

## NGD를 통한 전처리

In [43]:
import warnings
warnings.filterwarnings(action='ignore')

In [44]:
df_sclight1.drop(45781,axis=0, inplace=True) # 강원도 데이터에 있는 경기도 데이터 제거
df_sclight1.drop(97721,axis=0, inplace=True) # 주소 불분명 (대산전기) 제거
df_sclight1.drop(294640,axis=0, inplace=True) # 경기도 의정부시에 있는 서울특별시 데이터 제거
df_sclight1.drop(744603,axis=0, inplace=True) # 대전광역시_대덕구에 있는 주소 불분명 (267-1) 제거
df_sclight1.drop(744604,axis=0, inplace=True) # 대전광역시_대덕구에 있는 주소 불분명 (267-1) 제거
df_sclight1.loc[df_sclight1['state']=='강원', 'address'] = df_sclight1.loc[df_sclight1['state']=='강원', 'address'].str.replace("강원", '강원도')
df_sclight1.loc[df_sclight1['state']=='겅상남도', 'address'] = df_sclight1.loc[df_sclight1['state']=='겅상남도', 'address'].str.replace("겅상남도", '경상남도')
df_sclight1.loc[df_sclight1['state']=='경사남도', 'address'] = df_sclight1.loc[df_sclight1['state']=='경사남도', 'address'].str.replace("경사남도", '경상남도')
df_sclight1.loc[df_sclight1['state']=='부상광역시', 'address'] = df_sclight1.loc[df_sclight1['state']=='부상광역시', 'address'].str.replace("부상광역시", '부산광역시')
df_sclight1.loc[df_sclight1['state']=='경북', 'address'] = df_sclight1.loc[df_sclight1['state']=='경북', 'address'].str.replace("경북", '경상북도')
df_sclight1.loc[df_sclight1['state']=='경남', 'address'] = df_sclight1.loc[df_sclight1['state']=='경남', 'address'].str.replace("경남", '경상남도')
df_sclight1.loc[df_sclight1['state']=='대구', 'address'] = df_sclight1.loc[df_sclight1['state']=='대구', 'address'].str.replace("대구", '대구광역시')
df_sclight1.loc[df_sclight1['state']=='권선구', 'address'] = df_sclight1.loc[df_sclight1['state']=='권선구', 'address'].str.replace("권선구", '경기도 수원시 권선구')
df_sclight1.loc[df_sclight1['state']=='장안구', 'address'] = df_sclight1.loc[df_sclight1['state']=='장안구', 'address'].str.replace("장안구", '경기도 수원시 장안구')
df_sclight1.loc[df_sclight1['state']=='거제시', 'address'] = df_sclight1.loc[df_sclight1['state']=='거제시', 'address'].str.replace("거제시", '경상남도 거제시')
df_sclight1.loc[df_sclight1['state']=='덕이로', 'address'] = df_sclight1.loc[df_sclight1['state']=='덕이로', 'address'].str.replace("덕이로", '경기도 고양시 덕이로')
df_sclight1.loc[df_sclight1['state']=='동부면', 'address'] = df_sclight1.loc[df_sclight1['state']=='동부면', 'address'].str.replace("동부면", '경상남도 거제시 동부면')
df_sclight1.loc[df_sclight1['state']=='둔덕면', 'address'] = df_sclight1.loc[df_sclight1['state']=='둔덕면', 'address'].str.replace("둔덕면", '경상남도 거제시 둔덕면')
df_sclight1.loc[df_sclight1['state']=='수월동', 'address'] = df_sclight1.loc[df_sclight1['state']=='수월동', 'address'].str.replace("수월동", '경상남도 거제시 수월동')
df_sclight1.loc[df_sclight1['state']=='신광면', 'address'] = df_sclight1.loc[df_sclight1['state']=='신광면', 'address'].str.replace("신광면", '경상북도 포항시 신광면')
df_sclight1.loc[df_sclight1['state']=='장동209-32번지', 'address'] = df_sclight1.loc[df_sclight1['state']=='장동209-32번지', 'address'].str.replace("장동209-32번지", '대전광역시 대덕구 장동 209-32')
df_sclight1.loc[df_sclight1['city']=='경상남도', 'address'] = df_sclight1.loc[df_sclight1['city']=='경상남도', 'address'].str.replace('경상남도 경상남도 거제시', '경상남도 거제시')
df_sclight1.loc[df_sclight1['city']=='시흥시군자동561-1', 'address'] = df_sclight1.loc[df_sclight1['city']=='시흥시군자동561-1', 'address'].str.replace('시흥시군자동561-1', '시흥시 군자동 561-1')
df_sclight1.loc[df_sclight1['city']=='양주시광적면', 'address'] = df_sclight1.loc[df_sclight1['city']=='양주시광적면', 'address'].str.replace('양주시광적면', '양주시 광적면')
df_sclight1.loc[df_sclight1['city']=='거제시상동동', 'address'] = df_sclight1.loc[df_sclight1['city']=='거제시상동동', 'address'].str.replace('거제시상동동', '거제시 상동동')
df_sclight1.loc[df_sclight1['city']=='거제시연초면', 'address'] = df_sclight1.loc[df_sclight1['city']=='거제시연초면', 'address'].str.replace('거제시연초면', '거제시 연초면')
df_sclight1.loc[df_sclight1['city']=='남햄군', 'address'] = df_sclight1.loc[df_sclight1['city']=='남햄군', 'address'].str.replace('남햄군', '남해군')
df_sclight1.loc[df_sclight1['city']=='달성군유가읍', 'address'] = df_sclight1.loc[df_sclight1['city']=='달성군유가읍', 'address'].str.replace('달성군유가읍', '달성군 유가읍')
df_sclight1.loc[df_sclight1['city']=='유성궁', 'address'] = df_sclight1.loc[df_sclight1['city']=='유성궁', 'address'].str.replace('유성궁', '유성군')
df_sclight1.loc[df_sclight1['city']=='해운대구좌동', 'address'] = df_sclight1.loc[df_sclight1['city']=='해운대구좌동', 'address'].str.replace('해운대구좌동', '해운대구 좌동')

In [45]:
df_sclight1['state'] = df_sclight1['address'].str.split().str[0]
df_sclight1['city'] = df_sclight1['address'].str.split().str[1]

In [46]:
df_sclight1['state'].unique()

array(['강원도', '경기도', '충청북도', '충청남도', nan, '경상남도', '경상북도', '광주광역시',
       '대구광역시', '35.873161183', '대전광역시', '113-3', '487-6', '부산광역시'],
      dtype=object)

In [47]:
df_sclight1[df_sclight1['state']=='충청남도']

,address,state,city,lat,long,install_cnt,date
212039,충청남도 천안시 서북구 입장면 연곡리 204-1,충청남도,천안시,36.953348,127.189561,1,2021-03-15
215156,충청남도 천안시 서북구 입장면 도림리 산20-6,충청남도,천안시,36.906394,127.278579,1,2021-03-15
215565,충청남도 천안시 서북구 입장면 도림리 54-15,충청남도,천안시,36.914114,127.261631,1,2021-03-15
222039,충청남도 천안시 서북구 입장면 연곡리 204-1,충청남도,천안시,36.953348,127.189561,1,2021-03-15
225156,충청남도 천안시 서북구 입장면 도림리 산20-6,충청남도,천안시,36.906394,127.278579,1,2021-03-15
225565,충청남도 천안시 서북구 입장면 도림리 54-15,충청남도,천안시,36.914114,127.261631,1,2021-03-15
319409,충청남도 아산시 둔포면 둔포리 494-13,충청남도,아산시,36.930092,127.034798,1,2022-06-13
320083,충청남도 천안시 서북구 성환읍 와룡리 30-12,충청남도,천안시,36.957108,127.096519,1,2022-06-13
320084,충청남도 천안시 서북구 성환읍 와룡리 25-4,충청남도,천안시,36.957916,127.096596,1,2022-06-13
320085,충청남도 천안시 서북구 성환읍 와룡리 25-4,충청남도,천안시,36.958294,127.096611,1,2022-06-13
320578,충청남도 천안시 서북구 성환읍 와룡리 24,충청남도,천안시,36.959393,127.096428,1,2022-06-13

In [48]:
df_sclight1['city'].unique()

array(['강릉시', '동해시', '삼척시', '속초시', '양구군', '양양군', '원주시', '인제군', '철원군',
       '근남면', '철원읍', '춘천시', '태백시', '평창군', '홍천군', '횡성군', '가평군', '고양시',
       '파주시', '과천시', '광명시', '광주시', '구리시', '군포시', '김포시', '남양주시', '동두천시',
       '부천시', '성남시', '수원시', '용인시', '시흥시', '안산시', '안성시', '평택시', '진천군',
       '천안시', '양주시', '의정부시', '양평군', '여주시', '연천군', '오산시', '화성시', nan,
       '의왕시', '이천시', '아산시', '포천시', '하남시', '거제시', '거제면', '거창군', '고성군',
       '김해시', '창원시', '진영읍', '남해군', '밀양시', '산청군', '양산시', '의령군', '진주시',
       '창녕군', '통영시', '하동군', '함안군', '함양군', '합천군', '경산시', '경주시', '구미시',
       '군위군', '김천시', '문경시', '봉화군', '영월군', '울진군', '영양군', '안동시', '상주시',
       '성주군', '안막동', '영덕군', '영천시', '예천군', '청도군', '청송군', '칠곡군', '포항시',
       '광산구', '남구', '동구', '북구', '서구', '달서구', '달성군', '수성구', '중구', '대덕구',
       '유성구', '유성군', '강서구', '금정구', '기장군', '동래구', '부산진구', '사상구', '사하구',
       '수영구', '연제구', '영도구', '해운대구'], dtype=object)

## 인구 밀도 데이터 확인 및 state별 평균인구밀도 집계

In [49]:
df_pop1 = pd.read_csv('./인구밀도.csv', encoding = 'cp949')

In [50]:
df_pop1_mean = df_pop1.groupby(['행정구역별'], as_index=False).mean()

In [51]:
df_pop1_mean.drop('시점', axis=1, inplace = True)

In [52]:
df_pop1_mean.rename(columns={'데이터':'인구밀도평균'}, inplace=True)

In [53]:
df_pop1

    행정구역별    시점      데이터
0   서울특별시  2017  16095.8
1   서울특별시  2018  15983.7
2   서울특별시  2019  15926.9
3   서울특별시  2020  15839.0
4   서울특별시  2021  15650.1
..    ...   ...      ...
80    제주도  2017    346.9
81    제주도  2018    355.8
82    제주도  2019    359.4
83    제주도  2020    362.6
84    제주도  2021    363.8

[85 rows x 3 columns]

In [54]:
df_pop1_mean.columns

Index(['행정구역별', '인구밀도평균'], dtype='object')

In [55]:
df_pop1_mean.rename(columns={'행정구역별':'state', '인구밀도평균':'avg_pop_density'}, inplace=True)

In [83]:
# 제주도 이름 제주특별자치도로 통일

In [56]:
df_pop1_mean.loc[df_pop1_mean['state']=='제주도', 'state'] = df_pop1_mean.loc[df_pop1_mean['state']=='제주도', 'state'].str.replace('제주도', '제주특별자치도')

In [57]:
df_pop1_mean

      state  avg_pop_density
0       강원도            90.36
1       경기도          1303.40
2      경상남도           316.54
3      경상북도           139.72
4     광주광역시          2964.74
5     대구광역시          2744.80
6     대전광역시          2781.58
7     부산광역시          4378.44
8     서울특별시         15899.10
9   세종특별자치시           708.64
10    울산광역시          1074.94
11    인천광역시          2765.64
12     전라남도           144.78
13     전라북도           224.08
14  제주특별자치도           357.70
15     충청남도           264.24
16     충청북도           219.20

## df_sclight1과 평균인구밀도 데이터 합치기

In [58]:
df_sclight1 = df_sclight1.join(df_pop1_mean.set_index('state')['avg_pop_density'], on='state')

In [59]:
df_sclight1[df_sclight1.avg_pop_density.isna()]

,address,state,city,lat,long,install_cnt,date,avg_pop_density
286646,NaN,NaN,NaN,37.322221,127.098055,1,2019-07-11,NaN
286649,NaN,NaN,NaN,37.347595,127.074637,1,2019-07-11,NaN
286653,NaN,NaN,NaN,37.352356,127.051022,1,2019-07-11,NaN
286654,NaN,NaN,NaN,37.347878,127.075029,1,2019-07-11,NaN
286655,NaN,NaN,NaN,37.352292,127.050989,1,2019-07-11,NaN
286656,NaN,NaN,NaN,37.352541,127.061822,1,2019-07-11,NaN
287211,NaN,NaN,NaN,37.344997,127.061633,1,2019-07-11,NaN
287472,NaN,NaN,NaN,37.309964,127.076666,1,2019-07-11,NaN
287558,NaN,NaN,NaN,37.319594,127.056815,1,2019-07-11,NaN
287695,NaN,NaN,NaN,37.33267,127.057069,1,2019-07-11,NaN
689475,35.873161183,35.873161183,NaN,35.873006,128.498271,1,2022-06-08,NaN
747889,113-3,113-3,NaN,36.382226,127.427602,1,2022-06-14,NaN
748305,487-6,487-6,NaN,36.375182,127.415606,1,2022-06-14,NaN

## 위도 & 경도만 있는 주소는 전체 데이터의 10% 미만이므로 drop 진행

In [60]:
df_sclight1['state'].unique()

array(['강원도', '경기도', '충청북도', '충청남도', nan, '경상남도', '경상북도', '광주광역시',
       '대구광역시', '35.873161183', '대전광역시', '113-3', '487-6', '부산광역시'],
      dtype=object)

In [61]:
df_sclight1[df_sclight1['state'].isna()]

,address,state,city,lat,long,install_cnt,date,avg_pop_density
286646,NaN,NaN,NaN,37.322221,127.098055,1,2019-07-11,NaN
286649,NaN,NaN,NaN,37.347595,127.074637,1,2019-07-11,NaN
286653,NaN,NaN,NaN,37.352356,127.051022,1,2019-07-11,NaN
286654,NaN,NaN,NaN,37.347878,127.075029,1,2019-07-11,NaN
286655,NaN,NaN,NaN,37.352292,127.050989,1,2019-07-11,NaN
286656,NaN,NaN,NaN,37.352541,127.061822,1,2019-07-11,NaN
287211,NaN,NaN,NaN,37.344997,127.061633,1,2019-07-11,NaN
287472,NaN,NaN,NaN,37.309964,127.076666,1,2019-07-11,NaN
287558,NaN,NaN,NaN,37.319594,127.056815,1,2019-07-11,NaN
287695,NaN,NaN,NaN,37.33267,127.057069,1,2019-07-11,NaN

In [62]:
df_sclight1['city'].unique()

array(['강릉시', '동해시', '삼척시', '속초시', '양구군', '양양군', '원주시', '인제군', '철원군',
       '근남면', '철원읍', '춘천시', '태백시', '평창군', '홍천군', '횡성군', '가평군', '고양시',
       '파주시', '과천시', '광명시', '광주시', '구리시', '군포시', '김포시', '남양주시', '동두천시',
       '부천시', '성남시', '수원시', '용인시', '시흥시', '안산시', '안성시', '평택시', '진천군',
       '천안시', '양주시', '의정부시', '양평군', '여주시', '연천군', '오산시', '화성시', nan,
       '의왕시', '이천시', '아산시', '포천시', '하남시', '거제시', '거제면', '거창군', '고성군',
       '김해시', '창원시', '진영읍', '남해군', '밀양시', '산청군', '양산시', '의령군', '진주시',
       '창녕군', '통영시', '하동군', '함안군', '함양군', '합천군', '경산시', '경주시', '구미시',
       '군위군', '김천시', '문경시', '봉화군', '영월군', '울진군', '영양군', '안동시', '상주시',
       '성주군', '안막동', '영덕군', '영천시', '예천군', '청도군', '청송군', '칠곡군', '포항시',
       '광산구', '남구', '동구', '북구', '서구', '달서구', '달성군', '수성구', '중구', '대덕구',
       '유성구', '유성군', '강서구', '금정구', '기장군', '동래구', '부산진구', '사상구', '사하구',
       '수영구', '연제구', '영도구', '해운대구'], dtype=object)

In [63]:
df_sclight1[df_sclight1['city'].isna()].index

Int64Index([286646, 286649, 286653, 286654, 286655, 286656, 287211, 287472,
            287558, 287695, 689475, 747889, 748305],
           dtype='int64')

In [64]:
df_sclight1.drop([286646, 286649, 286653, 286654, 286655, 286656, 287211, 287472,
            287558, 287695, 689475, 747889, 748305], axis = 0, inplace=True)

In [65]:
df_sclight1[df_sclight1['state'].isna()]

Empty DataFrame
Columns: [address, state, city, lat, long, install_cnt, date, avg_pop_density]
Index: []

In [66]:
df_sclight1[df_sclight1.avg_pop_density.isna()]

Empty DataFrame
Columns: [address, state, city, lat, long, install_cnt, date, avg_pop_density]
Index: []

### --- df_sclight1 전처리 완료 ---

## df_sclight1과 df_sclight2 합치기 - 1. 파일 읽고 불필요 컬럼 drop

In [67]:
df_sclight2 = pd.read_csv('./df_sclight2.csv', encoding = 'utf-8')

In [68]:
df_sclight2.drop(['Unnamed: 0'], axis=1, inplace=True)

In [69]:
df_sclight2

,address,state,city,lat,long,install_cnt,date
0,서울특별시 강남구 개포동 570,서울특별시,강남구,37.476065,127.067286,1,2023-01-03
1,서울특별시 강남구 개포동 571-1,서울특별시,강남구,37.476065,127.067286,1,2023-01-03
2,서울특별시 강남구 개포동 572-1,서울특별시,강남구,37.477803,127.065296,1,2023-01-03
3,서울특별시 강남구 개포동 571-1,서울특별시,강남구,37.476065,127.067286,1,2023-01-03
4,서울특별시 강남구 개포동 570,서울특별시,강남구,37.476065,127.067286,1,2023-01-03
...,...,...,...,...,...,...,...
824292,충청북도 충주시 수안보면 온천리 111-2,충청북도,충주시,36.845823,127.994736,1,2022-05-31
824293,충청북도 충주시 수안보면 온천리 131-2,충청북도,충주시,36.845097,127.994223,1,2022-05-31
824294,충청북도 충주시 수안보면 온천리 산2-3,충청북도,충주시,36.845238,127.999317,1,2022-05-31
824295,충청북도 충주시 수안보면 안보리 산1-12,충청북도,충주시,36.845208,128.000003,1,2022-05-31
824296,충청북도 충주시 수안보면 안보리 579-2,충청북도,충주시,36.844581,128.001291,1,2022-05-31

## df_sclight2 'city' 잘못 들어간 데이터 수정 및 평균인구밀도 데이터와 합치기

In [70]:
df_sclight2['state'].unique()

array(['서울특별시', nan, '세종특별자치시', '울산광역시', '인천광역시', '전라남도', '전라북도',
       '제주특별자치도', '충청남도', '충청북도'], dtype=object)

In [71]:
df_sclight2['city'].unique()

array(['강남구', '강동구', '강북구', '강서구', '관악구', '동작구', '광진구', '구로구', '금천구',
       '노원구', '도봉구', '마포구', '서대문구', '서대문구통일로39다길', '서대문구통일로39길',
       '서대문구통일로37나길34', nan, '서초구', '성동구', '성북구', '송파구', '양천구', '영등포구',
       '용산구', '종로구', '중구', '중랑구', '금남면', '부강면', '소정면', '연기면', '연동면',
       '연서면', '장군면', '전동면', '전의면', '조치원읍', '남구', '동구', '북구', '울주군', '강화군',
       '계양구', '부평구', '남동구', '미추홀구', '서구', '연수구', '강진군', '곡성군', '광양시',
       '구례군', '나주시', '담양군', '목포시', '무안군', '함평군', '순천시', '신안군', '여수시',
       '영광군', '영암군', '완도군', '장성군', '장흥군', '장흥읍', '용산면', '진도군', '해남군',
       '화순군', '고창군', '공음면', '군산시', '익산시', '김제시', '남원시', '무주군', '부안군',
       '정읍시', '순창군', '완주군', '임실군', '진안군', '장수군', '전주시', '서귀포시', '제주시',
       '계룡시', '공주시', '금산군', '논산시', '당진시', '보령시', '부여군', '서산시', '운산면',
       '아산시', '서천군', '예산군', '천안시', '청양군', '태안군', '홍성군', '영동군', '괴산군',
       '단양군', '보은군', '옥천군', '음성군', '제천시', '증평군', '청주시', '충주시'],
      dtype=object)

In [72]:
df_sclight2.loc[df_sclight2['city']=='서대문구통일로39다길'] = df_sclight2.loc[df_sclight2['city']=='서대문구']
df_sclight2.loc[df_sclight2['city']=='서대문구통일로39길'] = df_sclight2.loc[df_sclight2['city']=='서대문구']
df_sclight2.loc[df_sclight2['city']=='서대문구통일로37나길34'] = df_sclight2.loc[df_sclight2['city']=='서대문구']

In [73]:
df_sclight2 = df_sclight2.join(df_pop1_mean.set_index('state')['avg_pop_density'], on='state')

In [74]:
df_sclight2

,address,state,city,lat,long,install_cnt,date,avg_pop_density
0,서울특별시 강남구 개포동 570,서울특별시,강남구,37.476065,127.067286,1.0,2023-01-03,15899.1
1,서울특별시 강남구 개포동 571-1,서울특별시,강남구,37.476065,127.067286,1.0,2023-01-03,15899.1
2,서울특별시 강남구 개포동 572-1,서울특별시,강남구,37.477803,127.065296,1.0,2023-01-03,15899.1
3,서울특별시 강남구 개포동 571-1,서울특별시,강남구,37.476065,127.067286,1.0,2023-01-03,15899.1
4,서울특별시 강남구 개포동 570,서울특별시,강남구,37.476065,127.067286,1.0,2023-01-03,15899.1
...,...,...,...,...,...,...,...,...
824292,충청북도 충주시 수안보면 온천리 111-2,충청북도,충주시,36.845823,127.994736,1.0,2022-05-31,219.2
824293,충청북도 충주시 수안보면 온천리 131-2,충청북도,충주시,36.845097,127.994223,1.0,2022-05-31,219.2
824294,충청북도 충주시 수안보면 온천리 산2-3,충청북도,충주시,36.845238,127.999317,1.0,2022-05-31,219.2
824295,충청북도 충주시 수안보면 안보리 산1-12,충청북도,충주시,36.845208,128.000003,1.0,2022-05-31,219.2
824296,충청북도 충주시 수안보면 안보리 579-2,충청북도,충주시,36.844581,128.001291,1.0,2022-05-31,219.2

## 위도 & 경도만 있는 주소는 전체 데이터의 약 12%정도이므로 drop 진행

In [75]:
drop_list = df_sclight2[df_sclight2['city'].isna() & df_sclight2['state'].isna()].index.tolist()
df_sclight2.drop(drop_list, axis=0, inplace=True)

## df_sclight1과 df_sclight2 concat하여 최종본 df_sclight 생성

In [76]:
df_sclight = pd.concat([df_sclight1, df_sclight2], axis =0)
df_sclight.reset_index(inplace=True, drop=True)
df_sclight

,address,state,city,lat,long,install_cnt,date,avg_pop_density
0,강원도 강릉시 장현동 463-1,강원도,강릉시,37.72858,128.887487,1,2022-07-20,90.36
1,강원도 강릉시 장현동 40-1,강원도,강릉시,37.732262,128.900575,1,2022-07-20,90.36
2,강원도 강릉시 장현동 97-2,강원도,강릉시,37.730126,128.900761,1,2022-07-20,90.36
3,강원도 강릉시 담산동 55-1,강원도,강릉시,37.717822,128.904406,1,2022-07-20,90.36
4,강원도 강릉시 담산동 55-1,강원도,강릉시,37.717822,128.904406,1,2022-07-20,90.36
...,...,...,...,...,...,...,...,...
1688370,충청북도 충주시 수안보면 온천리 111-2,충청북도,충주시,36.845823,127.994736,1.0,2022-05-31,219.20
1688371,충청북도 충주시 수안보면 온천리 131-2,충청북도,충주시,36.845097,127.994223,1.0,2022-05-31,219.20
1688372,충청북도 충주시 수안보면 온천리 산2-3,충청북도,충주시,36.845238,127.999317,1.0,2022-05-31,219.20
1688373,충청북도 충주시 수안보면 안보리 산1-12,충청북도,충주시,36.845208,128.000003,1.0,2022-05-31,219.20
1688374,충청북도 충주시 수안보면 안보리 579-2,충청북도,충주시,36.844581,128.001291,1.0,2022-05-31,219.20

### install_cnt type 정수형으로 통일

In [77]:
df_sclight = df_sclight.astype({'install_cnt':'int32'})
df_sclight

,address,state,city,lat,long,install_cnt,date,avg_pop_density
0,강원도 강릉시 장현동 463-1,강원도,강릉시,37.72858,128.887487,1,2022-07-20,90.36
1,강원도 강릉시 장현동 40-1,강원도,강릉시,37.732262,128.900575,1,2022-07-20,90.36
2,강원도 강릉시 장현동 97-2,강원도,강릉시,37.730126,128.900761,1,2022-07-20,90.36
3,강원도 강릉시 담산동 55-1,강원도,강릉시,37.717822,128.904406,1,2022-07-20,90.36
4,강원도 강릉시 담산동 55-1,강원도,강릉시,37.717822,128.904406,1,2022-07-20,90.36
...,...,...,...,...,...,...,...,...
1688370,충청북도 충주시 수안보면 온천리 111-2,충청북도,충주시,36.845823,127.994736,1,2022-05-31,219.20
1688371,충청북도 충주시 수안보면 온천리 131-2,충청북도,충주시,36.845097,127.994223,1,2022-05-31,219.20
1688372,충청북도 충주시 수안보면 온천리 산2-3,충청북도,충주시,36.845238,127.999317,1,2022-05-31,219.20
1688373,충청북도 충주시 수안보면 안보리 산1-12,충청북도,충주시,36.845208,128.000003,1,2022-05-31,219.20
1688374,충청북도 충주시 수안보면 안보리 579-2,충청북도,충주시,36.844581,128.001291,1,2022-05-31,219.20

### 중복값 확인하려 했으나 실제로 같은 주소에 보안등이 2개 이상 있는 경우가 있어 따로 제거하지 않기로 결정

In [78]:
df_sclight[df_sclight.duplicated(subset=['address', 'lat', 'long', 'date'])]

,address,state,city,lat,long,install_cnt,date,avg_pop_density
4,강원도 강릉시 담산동 55-1,강원도,강릉시,37.717822,128.904406,1,2022-07-20,90.36
150,강원도 강릉시 노암동 372-2,강원도,강릉시,37.743866,128.899522,1,2022-07-20,90.36
244,강원도 강릉시 노암동 28-6,강원도,강릉시,NaN,NaN,1,2022-07-20,90.36
289,강원도 강릉시 노암동 730-1,강원도,강릉시,37.747694,128.894354,1,2022-07-20,90.36
298,강원도 강릉시 노암동 214-2,강원도,강릉시,NaN,NaN,1,2022-07-20,90.36
...,...,...,...,...,...,...,...,...
1681826,충청북도 충주시 용두동 462-1,충청북도,충주시,36.962593,127.882853,1,2022-05-31,219.20
1684194,충청북도 충주시 동량면 조동리 180,충청북도,충주시,37.029975,127.996712,1,2022-05-31,219.20
1684486,충청북도 충주시 목행동 816-6,충청북도,충주시,37.007044,127.916441,1,2022-05-31,219.20
1686214,충청북도 충주시 산척면 영덕리 1744-58,충청북도,충주시,37.070934,127.955033,1,2022-05-31,219.20
1686215,충청북도 충주시 산척면 영덕리 1744-58,충청북도,충주시,37.070934,127.955033,1,2022-05-31,219.20

In [79]:
df_sclight[df_sclight['lat'].isna()]

,address,state,city,lat,long,install_cnt,date,avg_pop_density
5,강원도 강릉시 담산동 322-3,강원도,강릉시,NaN,NaN,1,2022-07-20,90.36
6,강원도 강릉시 박월동 370,강원도,강릉시,NaN,NaN,1,2022-07-20,90.36
13,강원도 강릉시 노암동 217-1,강원도,강릉시,NaN,NaN,1,2022-07-20,90.36
21,강원도 강릉시 장현동 224,강원도,강릉시,NaN,NaN,1,2022-07-20,90.36
22,강원도 강릉시 장현동 282,강원도,강릉시,NaN,NaN,1,2022-07-20,90.36
...,...,...,...,...,...,...,...,...
1652938,충청북도 증평군 도안면 화성리 산45-1,충청북도,증평군,NaN,NaN,1,2022-08-26,219.20
1652939,충청북도 증평군 도안면 화성리 산46-1,충청북도,증평군,NaN,NaN,1,2022-08-26,219.20
1652940,충청북도 증평군 도안면 화성리 산46-1,충청북도,증평군,NaN,NaN,1,2022-08-26,219.20
1652941,충청북도 증평군 도안면 송정리 147-10,충청북도,증평군,NaN,NaN,1,2022-08-26,219.20
1652942,충청북도 증평군 도안면 도당리 163-1,충청북도,증평군,NaN,NaN,1,2022-08-26,219.20

## 최종본(df_sclight).csv로 저장, 해당 파일 read시 encoding='cp949' 지정 필수

In [80]:
df_sclight.to_csv("./df_sclight.csv", index=False, encoding='cp949')

### df_sclight와 저장된 df_sclight와 차이가 있는지 확인 => 결과: 차이 없음

In [81]:
df_sclight_check = pd.read_csv('./df_sclight.csv', encoding='cp949')
df_sclight_check

,address,state,city,lat,long,install_cnt,date,avg_pop_density
0,강원도 강릉시 장현동 463-1,강원도,강릉시,37.728580,128.887487,1,2022-07-20,90.36
1,강원도 강릉시 장현동 40-1,강원도,강릉시,37.732262,128.900575,1,2022-07-20,90.36
2,강원도 강릉시 장현동 97-2,강원도,강릉시,37.730126,128.900761,1,2022-07-20,90.36
3,강원도 강릉시 담산동 55-1,강원도,강릉시,37.717822,128.904406,1,2022-07-20,90.36
4,강원도 강릉시 담산동 55-1,강원도,강릉시,37.717822,128.904406,1,2022-07-20,90.36
...,...,...,...,...,...,...,...,...
1688370,충청북도 충주시 수안보면 온천리 111-2,충청북도,충주시,36.845823,127.994736,1,2022-05-31,219.20
1688371,충청북도 충주시 수안보면 온천리 131-2,충청북도,충주시,36.845097,127.994223,1,2022-05-31,219.20
1688372,충청북도 충주시 수안보면 온천리 산2-3,충청북도,충주시,36.845238,127.999317,1,2022-05-31,219.20
1688373,충청북도 충주시 수안보면 안보리 산1-12,충청북도,충주시,36.845208,128.000003,1,2022-05-31,219.20
1688374,충청북도 충주시 수안보면 안보리 579-2,충청북도,충주시,36.844581,128.001291,1,2022-05-31,219.20

In [82]:
df_sclight_check[df_sclight_check['state']=='제주특별자치도']['avg_pop_density'].unique()

array([357.7])

## 크롤링 코드

In [ ]:
# cloud translate 사용 코드
def coordinate_to_address(api_key, )
import googlemaps
from google.cloud import translate_v2

# 발급받은 API 키 입력
api_key = ''

# googlemaps 객체 생성
gmaps = googlemaps.Client(api_key)

# 위도와 경도 입력
lat = 37.5665
lng = 126.9780

# reverse_geocode() 함수를 이용하여 해당 위치의 주소를 불러옴
results = gmaps.reverse_geocode((lat, lng))
address = results[0]['formatted_address']

# Google Cloud Translation API 인증 정보 설정
translate_client = translate_v2.Client.from_service_account_json('')

# 주소를 한국어로 번역
korean_address = translate_client.translate(address, target_language='ko')['translatedText']
print(korean_address)