<h1>목차<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [1]:
import pandas as pd
visit_df = pd.read_csv('./20230304180709_광역별방문자수.csv', encoding='cp949')
visit_df

    광역지자체명   기초지자체명  광역지자체 방문자 수  광역지자체 방문자 비율  기초지자체 방문자 수  기초지자체 방문자 비율
0      강원도      고성군  192161597.0           4.5   11612683.0           6.0
1      강원도      춘천시  192161597.0           4.5   20571796.0          10.7
2      강원도      원주시  192161597.0           4.5   18754440.0           9.8
3      강원도      강릉시  192161597.0           4.5   26334028.0          13.7
4      강원도      동해시  192161597.0           4.5    6798468.0           3.5
..     ...      ...          ...           ...          ...           ...
245   충청북도      단양군  137420102.0           3.2    6679972.0           4.9
246   충청북도  청주시 상당구  137420102.0           3.2   15873603.0          11.6
247   충청북도  청주시 서원구  137420102.0           3.2   12906891.0           9.4
248   충청북도  청주시 흥덕구  137420102.0           3.2   18792020.0          13.7
249   충청북도  청주시 청원구  137420102.0           3.2   14852624.0          10.8

[250 rows x 6 columns]

In [2]:
visit_df.drop(columns=['광역지자체 방문자 비율', '기초지자체 방문자 수', '기초지자체 방문자 비율'], axis=1, inplace=True)
visit_df

    광역지자체명   기초지자체명  광역지자체 방문자 수
0      강원도      고성군  192161597.0
1      강원도      춘천시  192161597.0
2      강원도      원주시  192161597.0
3      강원도      강릉시  192161597.0
4      강원도      동해시  192161597.0
..     ...      ...          ...
245   충청북도      단양군  137420102.0
246   충청북도  청주시 상당구  137420102.0
247   충청북도  청주시 서원구  137420102.0
248   충청북도  청주시 흥덕구  137420102.0
249   충청북도  청주시 청원구  137420102.0

[250 rows x 3 columns]

In [3]:
visit_df.rename(columns={'광역지자체명':'state', '기초지자체명':'city', '광역지자체 방문자 수':'visit_cnt'}, inplace=True)
visit_df

    state     city    visit_cnt
0     강원도      고성군  192161597.0
1     강원도      춘천시  192161597.0
2     강원도      원주시  192161597.0
3     강원도      강릉시  192161597.0
4     강원도      동해시  192161597.0
..    ...      ...          ...
245  충청북도      단양군  137420102.0
246  충청북도  청주시 상당구  137420102.0
247  충청북도  청주시 서원구  137420102.0
248  충청북도  청주시 흥덕구  137420102.0
249  충청북도  청주시 청원구  137420102.0

[250 rows x 3 columns]

In [4]:
visit_df = visit_df.astype({'visit_cnt':'int'})

In [5]:
visit_df.dtypes

state        object
city         object
visit_cnt     int32
dtype: object

In [6]:
# 고양시 테스트
goyang_df = visit_df[visit_df.city.str.contains('고양시')]
goyang_df

   state      city  visit_cnt
18   경기도   고양시 덕양구  927885436
19   경기도  고양시 일산동구  927885436
20   경기도  고양시 일산서구  927885436

In [7]:
goyang_sum = goyang_df.visit_cnt.sum()

In [18]:
goyang_sum

2783656308

In [8]:
# '**구' 없애기
def remove_goo(city):
    if city.endswith('구'):
        city_split = city.split()
        no_goo = city_split[0]
        return no_goo
    else:
        return city

In [9]:
visit_df.city = visit_df.city.apply(lambda x: remove_goo(x))

In [10]:
visit_df

    state city  visit_cnt
0     강원도  고성군  192161597
1     강원도  춘천시  192161597
2     강원도  원주시  192161597
3     강원도  강릉시  192161597
4     강원도  동해시  192161597
..    ...  ...        ...
245  충청북도  단양군  137420102
246  충청북도  청주시  137420102
247  충청북도  청주시  137420102
248  충청북도  청주시  137420102
249  충청북도  청주시  137420102

[250 rows x 3 columns]

In [11]:
# 잘 들어갔는지 확인
visit_df.to_csv('check1.csv')

In [12]:
a = {'visit_cnt':'sum',

    }
groupby_visit = visit_df.groupby(['state', 'city',], as_index=False).agg(a)

In [13]:
groupby_visit

    state city  visit_cnt
0     강원도  강릉시  192161597
1     강원도  고성군  192161597
2     강원도  동해시  192161597
3     강원도  삼척시  192161597
4     강원도  속초시  192161597
..    ...  ...        ...
224  충청북도  제천시  137420102
225  충청북도  증평군  137420102
226  충청북도  진천군  137420102
227  충청북도  청주시  549680408
228  충청북도  충주시  137420102

[229 rows x 3 columns]

In [17]:
groupby_visit.to_csv('check2.csv', encoding='cp949', index=False)

In [16]:
groupby_visit.city.unique()

array(['강릉시', '고성군', '동해시', '삼척시', '속초시', '양구군', '양양군', '영월군', '원주시',
       '인제군', '정선군', '철원군', '춘천시', '태백시', '평창군', '홍천군', '화천군', '횡성군',
       '가평군', '고양시', '과천시', '광명시', '광주시', '구리시', '군포시', '김포시', '남양주시',
       '동두천시', '부천시', '성남시', '수원시', '시흥시', '안산시', '안성시', '안양시', '양주시',
       '양평군', '여주시', '연천군', '오산시', '용인시', '의왕시', '의정부시', '이천시', '파주시',
       '평택시', '포천시', '하남시', '화성시', '거제시', '거창군', '김해시', '남해군', '밀양시',
       '사천시', '산청군', '양산시', '의령군', '진주시', '창녕군', '창원시', '통영시', '하동군',
       '함안군', '함양군', '합천군', '경산시', '경주시', '고령군', '구미시', '군위군', '김천시',
       '문경시', '봉화군', '상주시', '성주군', '안동시', '영덕군', '영양군', '영주시', '영천시',
       '예천군', '울릉군', '울진군', '의성군', '청도군', '청송군', '칠곡군', '포항시', '광산구',
       '남구', '동구', '북구', '서구', '달서구', '달성군', '수성구', '중구', '대덕구', '유성구',
       '강서구', '금정구', '기장군', '동래구', '부산진구', '사상구', '사하구', '수영구', '연제구',
       '영도구', '해운대구', '강남구', '강동구', '강북구', '관악구', '광진구', '구로구', '금천구',
       '노원구', '도봉구', '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구', '성북구',
       '송파구', '양천구', '영등포구', '용산구', '은평구', '종로구', '중랑구', '세종특별자치시', '울주군',
       '강화군', '계양구', '남동구', '미추홀구', '부평구', '연수구', '옹진군', '강진군', '고흥군',
       '곡성군', '광양시', '구례군', '나주시', '담양군', '목포시', '무안군', '보성군', '순천시',
       '신안군', '여수시', '영광군', '영암군', '완도군', '장성군', '장흥군', '진도군', '함평군',
       '해남군', '화순군', '고창군', '군산시', '김제시', '남원시', '무주군', '부안군', '순창군',
       '완주군', '익산시', '임실군', '장수군', '전주시', '정읍시', '진안군', '서귀포시', '제주시',
       '계룡시', '공주시', '금산군', '논산시', '당진시', '보령시', '부여군', '서산시', '서천군',
       '아산시', '예산군', '천안시', '청양군', '태안군', '홍성군', '괴산군', '단양군', '보은군',
       '영동군', '옥천군', '음성군', '제천시', '증평군', '진천군', '청주시', '충주시'],
      dtype=object)