<h1>목차<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

# 범죄율 데이터 전처리

In [38]:
# 라이브러리 호출
import pandas as pd
import numpy as np

import os

In [39]:
# 현재 경로 확인
print(os.getcwd())

C:\Users\samsung\TIL\DS\project\miniPJ\01_pj\data\rawdata

In [40]:
# 경로 변경
os.chdir('../')  # 현재 경로 위치에서 한단계 내려가기
os.chdir('C:/Users/samsung/TIL/DS/project/miniPJ/01_pj/data/rawdata')
print(os.getcwd())

C:\Users\samsung\TIL\DS\project\miniPJ\01_pj\data\rawdata

In [41]:
# 데이터 로드
df = pd.read_csv('범죄율.csv', encoding='cp949', skiprows=[0])  # skiprows=[0] : 첫 행 삭제
df

,범죄별(1),범죄별(2),범죄별(3),계,서울,부산,대구,인천,광주,대전,...,세종,경기,강원,충북,충남,전북,전남,경북,경남,제주
0,범죄발생총건수(A) (건),소계,소계,1531705.0,274830,113558,72339,85432,44610,41921,...,6147,388004,45398,47020,63290,52587,60205,75300,111102,26499
1,인구(B) (명),소계,소계,51638809.0,9509458,3350380,2385412,2948375,1441611,1452251,...,371895,13565450,1538492,1597427,2119257,1786855,1832803,2626609,3314183,676759
2,"A/Bⅹ100,000 (건/10만명)",소계,소계,2966.2,2890.1,3389.4,3032.6,2897.6,3094.5,2886.6,...,1652.9,2860.2,2950.8,2943.5,2986.4,2943,3284.9,2866.8,3352.3,3915.6
3,형법범 (건),소계,소계,917787.0,179429,71623,44696,52815,25950,27519,...,3924,226885,24878,27335,34050,30084,31332,41387,66377,17236
4,형법범 (건),재산범죄,소계,575332.0,110514,46816,29797,30638,16131,17404,...,2618,142066,14683,17757,21943,19080,18665,26781,42805,9995
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171,특별법범 (건),화물자동차 운수 사업법,소계,3079.0,295,58,34,72,16,33,...,4,2344,20,16,22,23,34,15,68,8
172,특별법범 (건),화재로 인한 재해보상과 보험가입에 관한법률,소계,39.0,-,1,2,6,-,1,...,-,4,1,6,12,1,2,1,1,-
173,특별법범 (건),화재예방·소방시설설치유지 및 안전관리에 관한법률,소계,517.0,67,16,12,53,17,4,...,1,187,16,12,45,37,10,7,25,-
174,특별법범 (건),화학물질관리법,소계,612.0,152,12,14,33,39,19,...,-,134,14,25,10,7,10,4,67,2
175,특별법범 (건),기타특별법,소계,58456.0,7145,5487,1208,6135,830,923,...,145,9669,3140,1270,1987,2949,6895,3750,4707,700

In [42]:
# df_crime.columns

In [43]:
# '형법범: 강력범죄, 재산번죄' 만 남기기
df2 = df[df['범죄별(1)'].str.contains('형법범')].reset_index()

crime_lists = ['재산범죄', '강력범죄(흉악)', '강력범죄(폭력)']
df2 = df2[df2['범죄별(2)'].isin(crime_lists)].reset_index()
df2.drop(['index', 'level_0'], axis=1, inplace=True)
# df2['범죄별(2)'].unique()
df2

,범죄별(1),범죄별(2),범죄별(3),계,서울,부산,대구,인천,광주,대전,...,세종,경기,강원,충북,충남,전북,전남,경북,경남,제주
0,형법범 (건),재산범죄,소계,575332.0,110514,46816,29797,30638,16131,17404,...,2618,142066,14683,17757,21943,19080,18665,26781,42805,9995
1,형법범 (건),재산범죄,절도,166782.0,33639,12748,9309,8183,4945,5081,...,1043,37403,4202,5270,7149,5612,5786,8616,12638,3055
2,형법범 (건),재산범죄,장물,302.0,39,74,7,20,6,6,...,1,66,10,11,14,5,8,7,14,9
3,형법범 (건),재산범죄,사기,297981.0,52627,26364,15393,15390,7943,9321,...,1119,75380,7745,9433,10731,10524,9374,13688,23892,4769
4,형법범 (건),재산범죄,횡령,51588.0,13728,3560,2352,3710,1606,1295,...,185,13914,918,1111,1563,1109,1309,1506,2400,856
5,형법범 (건),재산범죄,배임,4282.0,1068,545,149,203,133,131,...,24,899,90,82,150,121,139,150,276,59
6,형법범 (건),재산범죄,손괴,54397.0,9413,3525,2587,3132,1498,1570,...,246,14404,1718,1850,2336,1709,2049,2814,3585,1247
7,형법범 (건),강력범죄(흉악),소계,35126.0,8901,2336,1396,2347,909,1089,...,146,8317,847,894,1302,1009,1163,1444,2014,613
8,형법범 (건),강력범죄(흉악),살인,692.0,130,48,27,46,13,19,...,4,159,15,19,34,27,37,32,55,19
9,형법범 (건),강력범죄(흉악),강도,511.0,125,51,23,34,16,10,...,1,90,11,12,25,21,12,22,40,13
10,형법범 (건),강력범죄(흉악),방화,1025.0,187,52,55,54,21,40,...,2,242,38,32,65,35,47,44,76,15
11,형법범 (건),강력범죄(흉악),성폭력,32898.0,8459,2185,1291,2213,859,1020,...,139,7826,783,831,1178,926,1067,1346,1843,566
12,형법범 (건),강력범죄(폭력),소계,180460.0,32900,12793,8518,11977,5293,5667,...,620,45904,5427,5283,6296,5754,6770,7869,12898,3883
13,형법범 (건),강력범죄(폭력),폭행,119515.0,24030,7972,5492,8085,3714,3895,...,320,31916,3294,3163,3508,3792,4003,4422,7775,2498
14,형법범 (건),강력범죄(폭력),상해,30862.0,3413,2855,1797,1828,843,885,...,147,5738,1232,1292,1546,1070,1630,2174,3091,713
15,형법범 (건),강력범죄(폭력),협박,21502.0,3889,1414,933,1321,489,642,...,110,6093,671,546,844,605,854,847,1451,526
16,형법범 (건),강력범죄(폭력),공갈,5587.0,1015,373,188,521,128,170,...,31,1434,147,158,267,169,175,270,393,97
17,형법범 (건),강력범죄(폭력),약취와 유인,251.0,56,12,6,18,9,9,...,3,70,5,8,10,3,5,20,10,4
18,형법범 (건),강력범죄(폭력),체포와 감금,1401.0,276,90,54,114,65,39,...,5,317,47,42,54,57,48,60,101,17
19,형법범 (건),강력범죄(폭력),폭력행위등(손괴강요주거침입등),1209.0,210,73,44,85,39,26,...,4,309,30,46,49,45,50,69,75,28
20,형법범 (건),강력범죄(폭력),폭력행위등(단체등의구성 활동),133.0,11,4,4,5,6,1,...,-,27,1,28,18,13,5,7,2,-

In [44]:
# str -> int
# lists = ['강원', '경기', '경남', '경북', '광주', '대구', '대전', '부산', '서울', '세종', '울산', '인천', '전남', '전북', '제주', '충남', '충북']

# # for l in lists:
# #     df2[l] = pd.to_numeric(df2[l], error='coerce')  # to_numeric을 이용하여 errors = coerce 옵션으로 변환할 수 없는 데이터는 NaN으로 바꾸기
# # #     df2[l] = df2[l].astype(int)
# for l in lists:
#     df2 = df2.astype({l : 'float'})

# df2

In [45]:
df2.drop([0], inplace=True)  # 소계 행 삭제
# df2.drop(['범죄별(3)', '계'], axis=1)
df2

,범죄별(1),범죄별(2),범죄별(3),계,서울,부산,대구,인천,광주,대전,...,세종,경기,강원,충북,충남,전북,전남,경북,경남,제주
1,형법범 (건),재산범죄,절도,166782.0,33639,12748,9309,8183,4945,5081,...,1043,37403,4202,5270,7149,5612,5786,8616,12638,3055
2,형법범 (건),재산범죄,장물,302.0,39,74,7,20,6,6,...,1,66,10,11,14,5,8,7,14,9
3,형법범 (건),재산범죄,사기,297981.0,52627,26364,15393,15390,7943,9321,...,1119,75380,7745,9433,10731,10524,9374,13688,23892,4769
4,형법범 (건),재산범죄,횡령,51588.0,13728,3560,2352,3710,1606,1295,...,185,13914,918,1111,1563,1109,1309,1506,2400,856
5,형법범 (건),재산범죄,배임,4282.0,1068,545,149,203,133,131,...,24,899,90,82,150,121,139,150,276,59
6,형법범 (건),재산범죄,손괴,54397.0,9413,3525,2587,3132,1498,1570,...,246,14404,1718,1850,2336,1709,2049,2814,3585,1247
7,형법범 (건),강력범죄(흉악),소계,35126.0,8901,2336,1396,2347,909,1089,...,146,8317,847,894,1302,1009,1163,1444,2014,613
8,형법범 (건),강력범죄(흉악),살인,692.0,130,48,27,46,13,19,...,4,159,15,19,34,27,37,32,55,19
9,형법범 (건),강력범죄(흉악),강도,511.0,125,51,23,34,16,10,...,1,90,11,12,25,21,12,22,40,13
10,형법범 (건),강력범죄(흉악),방화,1025.0,187,52,55,54,21,40,...,2,242,38,32,65,35,47,44,76,15
11,형법범 (건),강력범죄(흉악),성폭력,32898.0,8459,2185,1291,2213,859,1020,...,139,7826,783,831,1178,926,1067,1346,1843,566
12,형법범 (건),강력범죄(폭력),소계,180460.0,32900,12793,8518,11977,5293,5667,...,620,45904,5427,5283,6296,5754,6770,7869,12898,3883
13,형법범 (건),강력범죄(폭력),폭행,119515.0,24030,7972,5492,8085,3714,3895,...,320,31916,3294,3163,3508,3792,4003,4422,7775,2498
14,형법범 (건),강력범죄(폭력),상해,30862.0,3413,2855,1797,1828,843,885,...,147,5738,1232,1292,1546,1070,1630,2174,3091,713
15,형법범 (건),강력범죄(폭력),협박,21502.0,3889,1414,933,1321,489,642,...,110,6093,671,546,844,605,854,847,1451,526
16,형법범 (건),강력범죄(폭력),공갈,5587.0,1015,373,188,521,128,170,...,31,1434,147,158,267,169,175,270,393,97
17,형법범 (건),강력범죄(폭력),약취와 유인,251.0,56,12,6,18,9,9,...,3,70,5,8,10,3,5,20,10,4
18,형법범 (건),강력범죄(폭력),체포와 감금,1401.0,276,90,54,114,65,39,...,5,317,47,42,54,57,48,60,101,17
19,형법범 (건),강력범죄(폭력),폭력행위등(손괴강요주거침입등),1209.0,210,73,44,85,39,26,...,4,309,30,46,49,45,50,69,75,28
20,형법범 (건),강력범죄(폭력),폭력행위등(단체등의구성 활동),133.0,11,4,4,5,6,1,...,-,27,1,28,18,13,5,7,2,-

In [46]:
df2.drop(['범죄별(3)', '계'], axis='columns', inplace=True)
# df2.drop('index')
df2 = df2.reset_index()
df2

,index,범죄별(1),범죄별(2),서울,부산,대구,인천,광주,대전,울산,세종,경기,강원,충북,충남,전북,전남,경북,경남,제주
0,1,형법범 (건),재산범죄,33639,12748,9309,8183,4945,5081,2103,1043,37403,4202,5270,7149,5612,5786,8616,12638,3055
1,2,형법범 (건),재산범죄,39,74,7,20,6,6,5,1,66,10,11,14,5,8,7,14,9
2,3,형법범 (건),재산범죄,52627,26364,15393,15390,7943,9321,4288,1119,75380,7745,9433,10731,10524,9374,13688,23892,4769
3,4,형법범 (건),재산범죄,13728,3560,2352,3710,1606,1295,466,185,13914,918,1111,1563,1109,1309,1506,2400,856
4,5,형법범 (건),재산범죄,1068,545,149,203,133,131,63,24,899,90,82,150,121,139,150,276,59
5,6,형법범 (건),재산범죄,9413,3525,2587,3132,1498,1570,714,246,14404,1718,1850,2336,1709,2049,2814,3585,1247
6,7,형법범 (건),강력범죄(흉악),8901,2336,1396,2347,909,1089,399,146,8317,847,894,1302,1009,1163,1444,2014,613
7,8,형법범 (건),강력범죄(흉악),130,48,27,46,13,19,8,4,159,15,19,34,27,37,32,55,19
8,9,형법범 (건),강력범죄(흉악),125,51,23,34,16,10,5,1,90,11,12,25,21,12,22,40,13
9,10,형법범 (건),강력범죄(흉악),187,52,55,54,21,40,20,2,242,38,32,65,35,47,44,76,15
10,11,형법범 (건),강력범죄(흉악),8459,2185,1291,2213,859,1020,366,139,7826,783,831,1178,926,1067,1346,1843,566
11,12,형법범 (건),강력범죄(폭력),32900,12793,8518,11977,5293,5667,2608,620,45904,5427,5283,6296,5754,6770,7869,12898,3883
12,13,형법범 (건),강력범죄(폭력),24030,7972,5492,8085,3714,3895,1636,320,31916,3294,3163,3508,3792,4003,4422,7775,2498
13,14,형법범 (건),강력범죄(폭력),3413,2855,1797,1828,843,885,608,147,5738,1232,1292,1546,1070,1630,2174,3091,713
14,15,형법범 (건),강력범죄(폭력),3889,1414,933,1321,489,642,267,110,6093,671,546,844,605,854,847,1451,526
15,16,형법범 (건),강력범죄(폭력),1015,373,188,521,128,170,51,31,1434,147,158,267,169,175,270,393,97
16,17,형법범 (건),강력범죄(폭력),56,12,6,18,9,9,3,3,70,5,8,10,3,5,20,10,4
17,18,형법범 (건),강력범죄(폭력),276,90,54,114,65,39,15,5,317,47,42,54,57,48,60,101,17
18,19,형법범 (건),강력범죄(폭력),210,73,44,85,39,26,27,4,309,30,46,49,45,50,69,75,28
19,20,형법범 (건),강력범죄(폭력),11,4,4,5,6,1,1,-,27,1,28,18,13,5,7,2,-

In [47]:
df2.drop(['index'], axis='columns', inplace=True)
df2

,범죄별(1),범죄별(2),서울,부산,대구,인천,광주,대전,울산,세종,경기,강원,충북,충남,전북,전남,경북,경남,제주
0,형법범 (건),재산범죄,33639,12748,9309,8183,4945,5081,2103,1043,37403,4202,5270,7149,5612,5786,8616,12638,3055
1,형법범 (건),재산범죄,39,74,7,20,6,6,5,1,66,10,11,14,5,8,7,14,9
2,형법범 (건),재산범죄,52627,26364,15393,15390,7943,9321,4288,1119,75380,7745,9433,10731,10524,9374,13688,23892,4769
3,형법범 (건),재산범죄,13728,3560,2352,3710,1606,1295,466,185,13914,918,1111,1563,1109,1309,1506,2400,856
4,형법범 (건),재산범죄,1068,545,149,203,133,131,63,24,899,90,82,150,121,139,150,276,59
5,형법범 (건),재산범죄,9413,3525,2587,3132,1498,1570,714,246,14404,1718,1850,2336,1709,2049,2814,3585,1247
6,형법범 (건),강력범죄(흉악),8901,2336,1396,2347,909,1089,399,146,8317,847,894,1302,1009,1163,1444,2014,613
7,형법범 (건),강력범죄(흉악),130,48,27,46,13,19,8,4,159,15,19,34,27,37,32,55,19
8,형법범 (건),강력범죄(흉악),125,51,23,34,16,10,5,1,90,11,12,25,21,12,22,40,13
9,형법범 (건),강력범죄(흉악),187,52,55,54,21,40,20,2,242,38,32,65,35,47,44,76,15
10,형법범 (건),강력범죄(흉악),8459,2185,1291,2213,859,1020,366,139,7826,783,831,1178,926,1067,1346,1843,566
11,형법범 (건),강력범죄(폭력),32900,12793,8518,11977,5293,5667,2608,620,45904,5427,5283,6296,5754,6770,7869,12898,3883
12,형법범 (건),강력범죄(폭력),24030,7972,5492,8085,3714,3895,1636,320,31916,3294,3163,3508,3792,4003,4422,7775,2498
13,형법범 (건),강력범죄(폭력),3413,2855,1797,1828,843,885,608,147,5738,1232,1292,1546,1070,1630,2174,3091,713
14,형법범 (건),강력범죄(폭력),3889,1414,933,1321,489,642,267,110,6093,671,546,844,605,854,847,1451,526
15,형법범 (건),강력범죄(폭력),1015,373,188,521,128,170,51,31,1434,147,158,267,169,175,270,393,97
16,형법범 (건),강력범죄(폭력),56,12,6,18,9,9,3,3,70,5,8,10,3,5,20,10,4
17,형법범 (건),강력범죄(폭력),276,90,54,114,65,39,15,5,317,47,42,54,57,48,60,101,17
18,형법범 (건),강력범죄(폭력),210,73,44,85,39,26,27,4,309,30,46,49,45,50,69,75,28
19,형법범 (건),강력범죄(폭력),11,4,4,5,6,1,1,-,27,1,28,18,13,5,7,2,-

In [48]:
import warnings

warnings.filterwarnings('ignore')

In [49]:
len(df2.columns)

19

In [50]:
df2.dtypes

범죄별(1)    object
범죄별(2)    object
서울        object
부산        object
대구        object
인천        object
광주        object
대전        object
울산        object
세종        object
경기        object
강원        object
충북        object
충남        object
전북        object
전남        object
경북        object
경남        object
제주        object
dtype: object

In [51]:
## 데이터프레임 행열전환 (transpose)

# df_trans_before = df2[['범죄별(1)', '범죄별(2)']]
df_trans_before = df2[df2.columns.difference(['범죄별(1)', '범죄별(2)'])]
# len(df_trans_before.columns)
# df_trans_before = pd.to_numeric(df_trans_before)
df_trans_before

,강원,경기,경남,경북,광주,대구,대전,부산,서울,세종,울산,인천,전남,전북,제주,충남,충북
0,4202,37403,12638,8616,4945,9309,5081,12748,33639,1043,2103,8183,5786,5612,3055,7149,5270
1,10,66,14,7,6,7,6,74,39,1,5,20,8,5,9,14,11
2,7745,75380,23892,13688,7943,15393,9321,26364,52627,1119,4288,15390,9374,10524,4769,10731,9433
3,918,13914,2400,1506,1606,2352,1295,3560,13728,185,466,3710,1309,1109,856,1563,1111
4,90,899,276,150,133,149,131,545,1068,24,63,203,139,121,59,150,82
5,1718,14404,3585,2814,1498,2587,1570,3525,9413,246,714,3132,2049,1709,1247,2336,1850
6,847,8317,2014,1444,909,1396,1089,2336,8901,146,399,2347,1163,1009,613,1302,894
7,15,159,55,32,13,27,19,48,130,4,8,46,37,27,19,34,19
8,11,90,40,22,16,23,10,51,125,1,5,34,12,21,13,25,12
9,38,242,76,44,21,55,40,52,187,2,20,54,47,35,15,65,32
10,783,7826,1843,1346,859,1291,1020,2185,8459,139,366,2213,1067,926,566,1178,831
11,5427,45904,12898,7869,5293,8518,5667,12793,32900,620,2608,11977,6770,5754,3883,6296,5283
12,3294,31916,7775,4422,3714,5492,3895,7972,24030,320,1636,8085,4003,3792,2498,3508,3163
13,1232,5738,3091,2174,843,1797,885,2855,3413,147,608,1828,1630,1070,713,1546,1292
14,671,6093,1451,847,489,933,642,1414,3889,110,267,1321,854,605,526,844,546
15,147,1434,393,270,128,188,170,373,1015,31,51,521,175,169,97,267,158
16,5,70,10,20,9,6,9,12,56,3,3,18,5,3,4,10,8
17,47,317,101,60,65,54,39,90,276,5,15,114,48,57,17,54,42
18,30,309,75,69,39,44,26,73,210,4,27,85,50,45,28,49,46
19,1,27,2,7,6,4,1,4,11,-,1,5,5,13,-,18,28

In [52]:
df_trans_before.columns

Index(['강원', '경기', '경남', '경북', '광주', '대구', '대전', '부산', '서울', '세종', '울산', '인천',
       '전남', '전북', '제주', '충남', '충북'],
      dtype='object')

In [53]:
# 특수 문자 제거
df_trans_before["세종"]= df_trans_before["세종"].str.replace("-", '', 1) #첫 번째 하이픈(-) 제거 
df_trans_before["제주"]= df_trans_before["제주"].str.replace("-", '', 1) #첫 번째 하이픈(-) 제거 

df_trans_before

,강원,경기,경남,경북,광주,대구,대전,부산,서울,세종,울산,인천,전남,전북,제주,충남,충북
0,4202,37403,12638,8616,4945,9309,5081,12748,33639,1043,2103,8183,5786,5612,3055,7149,5270
1,10,66,14,7,6,7,6,74,39,1,5,20,8,5,9,14,11
2,7745,75380,23892,13688,7943,15393,9321,26364,52627,1119,4288,15390,9374,10524,4769,10731,9433
3,918,13914,2400,1506,1606,2352,1295,3560,13728,185,466,3710,1309,1109,856,1563,1111
4,90,899,276,150,133,149,131,545,1068,24,63,203,139,121,59,150,82
5,1718,14404,3585,2814,1498,2587,1570,3525,9413,246,714,3132,2049,1709,1247,2336,1850
6,847,8317,2014,1444,909,1396,1089,2336,8901,146,399,2347,1163,1009,613,1302,894
7,15,159,55,32,13,27,19,48,130,4,8,46,37,27,19,34,19
8,11,90,40,22,16,23,10,51,125,1,5,34,12,21,13,25,12
9,38,242,76,44,21,55,40,52,187,2,20,54,47,35,15,65,32
10,783,7826,1843,1346,859,1291,1020,2185,8459,139,366,2213,1067,926,566,1178,831
11,5427,45904,12898,7869,5293,8518,5667,12793,32900,620,2608,11977,6770,5754,3883,6296,5283
12,3294,31916,7775,4422,3714,5492,3895,7972,24030,320,1636,8085,4003,3792,2498,3508,3163
13,1232,5738,3091,2174,843,1797,885,2855,3413,147,608,1828,1630,1070,713,1546,1292
14,671,6093,1451,847,489,933,642,1414,3889,110,267,1321,854,605,526,844,546
15,147,1434,393,270,128,188,170,373,1015,31,51,521,175,169,97,267,158
16,5,70,10,20,9,6,9,12,56,3,3,18,5,3,4,10,8
17,47,317,101,60,65,54,39,90,276,5,15,114,48,57,17,54,42
18,30,309,75,69,39,44,26,73,210,4,27,85,50,45,28,49,46
19,1,27,2,7,6,4,1,4,11,,1,5,5,13,,18,28

In [54]:
# str -> int
from numpy import NaN, NAN, nan #누락값 넣기 위한 모듈 불러오기

df_trans_before = df_trans_before.replace(r'^\s*$',NaN, regex=True)
df_trans_before

,강원,경기,경남,경북,광주,대구,대전,부산,서울,세종,울산,인천,전남,전북,제주,충남,충북
0,4202,37403,12638,8616,4945,9309,5081,12748,33639,1043,2103,8183,5786,5612,3055,7149,5270
1,10,66,14,7,6,7,6,74,39,1,5,20,8,5,9,14,11
2,7745,75380,23892,13688,7943,15393,9321,26364,52627,1119,4288,15390,9374,10524,4769,10731,9433
3,918,13914,2400,1506,1606,2352,1295,3560,13728,185,466,3710,1309,1109,856,1563,1111
4,90,899,276,150,133,149,131,545,1068,24,63,203,139,121,59,150,82
5,1718,14404,3585,2814,1498,2587,1570,3525,9413,246,714,3132,2049,1709,1247,2336,1850
6,847,8317,2014,1444,909,1396,1089,2336,8901,146,399,2347,1163,1009,613,1302,894
7,15,159,55,32,13,27,19,48,130,4,8,46,37,27,19,34,19
8,11,90,40,22,16,23,10,51,125,1,5,34,12,21,13,25,12
9,38,242,76,44,21,55,40,52,187,2,20,54,47,35,15,65,32
10,783,7826,1843,1346,859,1291,1020,2185,8459,139,366,2213,1067,926,566,1178,831
11,5427,45904,12898,7869,5293,8518,5667,12793,32900,620,2608,11977,6770,5754,3883,6296,5283
12,3294,31916,7775,4422,3714,5492,3895,7972,24030,320,1636,8085,4003,3792,2498,3508,3163
13,1232,5738,3091,2174,843,1797,885,2855,3413,147,608,1828,1630,1070,713,1546,1292
14,671,6093,1451,847,489,933,642,1414,3889,110,267,1321,854,605,526,844,546
15,147,1434,393,270,128,188,170,373,1015,31,51,521,175,169,97,267,158
16,5,70,10,20,9,6,9,12,56,3,3,18,5,3,4,10,8
17,47,317,101,60,65,54,39,90,276,5,15,114,48,57,17,54,42
18,30,309,75,69,39,44,26,73,210,4,27,85,50,45,28,49,46
19,1,27,2,7,6,4,1,4,11,NaN,1,5,5,13,NaN,18,28

In [55]:
#누락값 처리 NaN을 다른 값으로 변경하기
df_trans_before = df_trans_before.fillna(0) #다른 값 변경시 .fillna(변경할 숫자).iloc[행위치, 열위치] 입력하여 변경
df_trans_before

,강원,경기,경남,경북,광주,대구,대전,부산,서울,세종,울산,인천,전남,전북,제주,충남,충북
0,4202,37403,12638,8616,4945,9309,5081,12748,33639,1043,2103,8183,5786,5612,3055,7149,5270
1,10,66,14,7,6,7,6,74,39,1,5,20,8,5,9,14,11
2,7745,75380,23892,13688,7943,15393,9321,26364,52627,1119,4288,15390,9374,10524,4769,10731,9433
3,918,13914,2400,1506,1606,2352,1295,3560,13728,185,466,3710,1309,1109,856,1563,1111
4,90,899,276,150,133,149,131,545,1068,24,63,203,139,121,59,150,82
5,1718,14404,3585,2814,1498,2587,1570,3525,9413,246,714,3132,2049,1709,1247,2336,1850
6,847,8317,2014,1444,909,1396,1089,2336,8901,146,399,2347,1163,1009,613,1302,894
7,15,159,55,32,13,27,19,48,130,4,8,46,37,27,19,34,19
8,11,90,40,22,16,23,10,51,125,1,5,34,12,21,13,25,12
9,38,242,76,44,21,55,40,52,187,2,20,54,47,35,15,65,32
10,783,7826,1843,1346,859,1291,1020,2185,8459,139,366,2213,1067,926,566,1178,831
11,5427,45904,12898,7869,5293,8518,5667,12793,32900,620,2608,11977,6770,5754,3883,6296,5283
12,3294,31916,7775,4422,3714,5492,3895,7972,24030,320,1636,8085,4003,3792,2498,3508,3163
13,1232,5738,3091,2174,843,1797,885,2855,3413,147,608,1828,1630,1070,713,1546,1292
14,671,6093,1451,847,489,933,642,1414,3889,110,267,1321,854,605,526,844,546
15,147,1434,393,270,128,188,170,373,1015,31,51,521,175,169,97,267,158
16,5,70,10,20,9,6,9,12,56,3,3,18,5,3,4,10,8
17,47,317,101,60,65,54,39,90,276,5,15,114,48,57,17,54,42
18,30,309,75,69,39,44,26,73,210,4,27,85,50,45,28,49,46
19,1,27,2,7,6,4,1,4,11,0,1,5,5,13,0,18,28

In [56]:
lists = ['강원', '경기', '경남', '경북', '광주', '대구', '대전', '부산', '서울', '세종', '울산', '인천', '전남', '전북', '제주', '충남', '충북']

for l in lists:
    df_trans_before[l] = df_trans_before[l].astype('int64')
df_trans_before

df_trans_before

,강원,경기,경남,경북,광주,대구,대전,부산,서울,세종,울산,인천,전남,전북,제주,충남,충북
0,4202,37403,12638,8616,4945,9309,5081,12748,33639,1043,2103,8183,5786,5612,3055,7149,5270
1,10,66,14,7,6,7,6,74,39,1,5,20,8,5,9,14,11
2,7745,75380,23892,13688,7943,15393,9321,26364,52627,1119,4288,15390,9374,10524,4769,10731,9433
3,918,13914,2400,1506,1606,2352,1295,3560,13728,185,466,3710,1309,1109,856,1563,1111
4,90,899,276,150,133,149,131,545,1068,24,63,203,139,121,59,150,82
5,1718,14404,3585,2814,1498,2587,1570,3525,9413,246,714,3132,2049,1709,1247,2336,1850
6,847,8317,2014,1444,909,1396,1089,2336,8901,146,399,2347,1163,1009,613,1302,894
7,15,159,55,32,13,27,19,48,130,4,8,46,37,27,19,34,19
8,11,90,40,22,16,23,10,51,125,1,5,34,12,21,13,25,12
9,38,242,76,44,21,55,40,52,187,2,20,54,47,35,15,65,32
10,783,7826,1843,1346,859,1291,1020,2185,8459,139,366,2213,1067,926,566,1178,831
11,5427,45904,12898,7869,5293,8518,5667,12793,32900,620,2608,11977,6770,5754,3883,6296,5283
12,3294,31916,7775,4422,3714,5492,3895,7972,24030,320,1636,8085,4003,3792,2498,3508,3163
13,1232,5738,3091,2174,843,1797,885,2855,3413,147,608,1828,1630,1070,713,1546,1292
14,671,6093,1451,847,489,933,642,1414,3889,110,267,1321,854,605,526,844,546
15,147,1434,393,270,128,188,170,373,1015,31,51,521,175,169,97,267,158
16,5,70,10,20,9,6,9,12,56,3,3,18,5,3,4,10,8
17,47,317,101,60,65,54,39,90,276,5,15,114,48,57,17,54,42
18,30,309,75,69,39,44,26,73,210,4,27,85,50,45,28,49,46
19,1,27,2,7,6,4,1,4,11,0,1,5,5,13,0,18,28

In [57]:
df_trans_before.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 17 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   강원      20 non-null     int64
 1   경기      20 non-null     int64
 2   경남      20 non-null     int64
 3   경북      20 non-null     int64
 4   광주      20 non-null     int64
 5   대구      20 non-null     int64
 6   대전      20 non-null     int64
 7   부산      20 non-null     int64
 8   서울      20 non-null     int64
 9   세종      20 non-null     int64
 10  울산      20 non-null     int64
 11  인천      20 non-null     int64
 12  전남      20 non-null     int64
 13  전북      20 non-null     int64
 14  제주      20 non-null     int64
 15  충남      20 non-null     int64
 16  충북      20 non-null     int64
dtypes: int64(17)
memory usage: 2.8 KB

In [58]:
# transpose
df_trans_after = df_trans_before.transpose()
df_trans_after

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
강원,4202,10,7745,918,90,1718,847,15,11,38,783,5427,3294,1232,671,147,5,47,30,1
경기,37403,66,75380,13914,899,14404,8317,159,90,242,7826,45904,31916,5738,6093,1434,70,317,309,27
경남,12638,14,23892,2400,276,3585,2014,55,40,76,1843,12898,7775,3091,1451,393,10,101,75,2
경북,8616,7,13688,1506,150,2814,1444,32,22,44,1346,7869,4422,2174,847,270,20,60,69,7
광주,4945,6,7943,1606,133,1498,909,13,16,21,859,5293,3714,843,489,128,9,65,39,6
대구,9309,7,15393,2352,149,2587,1396,27,23,55,1291,8518,5492,1797,933,188,6,54,44,4
대전,5081,6,9321,1295,131,1570,1089,19,10,40,1020,5667,3895,885,642,170,9,39,26,1
부산,12748,74,26364,3560,545,3525,2336,48,51,52,2185,12793,7972,2855,1414,373,12,90,73,4
서울,33639,39,52627,13728,1068,9413,8901,130,125,187,8459,32900,24030,3413,3889,1015,56,276,210,11
세종,1043,1,1119,185,24,246,146,4,1,2,139,620,320,147,110,31,3,5,4,0
울산,2103,5,4288,466,63,714,399,8,5,20,366,2608,1636,608,267,51,3,15,27,1
인천,8183,20,15390,3710,203,3132,2347,46,34,54,2213,11977,8085,1828,1321,521,18,114,85,5
전남,5786,8,9374,1309,139,2049,1163,37,12,47,1067,6770,4003,1630,854,175,5,48,50,5
전북,5612,5,10524,1109,121,1709,1009,27,21,35,926,5754,3792,1070,605,169,3,57,45,13
제주,3055,9,4769,856,59,1247,613,19,13,15,566,3883,2498,713,526,97,4,17,28,0
충남,7149,14,10731,1563,150,2336,1302,34,25,65,1178,6296,3508,1546,844,267,10,54,49,18
충북,5270,11,9433,1111,82,1850,894,19,12,32,831,5283,3163,1292,546,158,8,42,46,28

In [59]:
# 범죄 합계 먼저 구하기
df_trans_after.loc[:, 'total_sum'] = df_trans_after.loc[:,'0':'14'].sum(axis=1)
df_trans_after.reset_index(inplace=True)
df_trans_after

,index,0,1,2,3,4,5,6,7,8,...,11,12,13,14,15,16,17,18,19,total_sum
0,강원,4202,10,7745,918,90,1718,847,15,11,...,5427,3294,1232,671,147,5,47,30,1,27001
1,경기,37403,66,75380,13914,899,14404,8317,159,90,...,45904,31916,5738,6093,1434,70,317,309,27,248351
2,경남,12638,14,23892,2400,276,3585,2014,55,40,...,12898,7775,3091,1451,393,10,101,75,2,72048
3,경북,8616,7,13688,1506,150,2814,1444,32,22,...,7869,4422,2174,847,270,20,60,69,7,44981
4,광주,4945,6,7943,1606,133,1498,909,13,16,...,5293,3714,843,489,128,9,65,39,6,28288
5,대구,9309,7,15393,2352,149,2587,1396,27,23,...,8518,5492,1797,933,188,6,54,44,4,49329
6,대전,5081,6,9321,1295,131,1570,1089,19,10,...,5667,3895,885,642,170,9,39,26,1,30671
7,부산,12748,74,26364,3560,545,3525,2336,48,51,...,12793,7972,2855,1414,373,12,90,73,4,76522
8,서울,33639,39,52627,13728,1068,9413,8901,130,125,...,32900,24030,3413,3889,1015,56,276,210,11,192548
9,세종,1043,1,1119,185,24,246,146,4,1,...,620,320,147,110,31,3,5,4,0,4107
10,울산,2103,5,4288,466,63,714,399,8,5,...,2608,1636,608,267,51,3,15,27,1,13556
11,인천,8183,20,15390,3710,203,3132,2347,46,34,...,11977,8085,1828,1321,521,18,114,85,5,58543
12,전남,5786,8,9374,1309,139,2049,1163,37,12,...,6770,4003,1630,854,175,5,48,50,5,34248
13,전북,5612,5,10524,1109,121,1709,1009,27,21,...,5754,3792,1070,605,169,3,57,45,13,32319
14,제주,3055,9,4769,856,59,1247,613,19,13,...,3883,2498,713,526,97,4,17,28,0,18841
15,충남,7149,14,10731,1563,150,2336,1302,34,25,...,6296,3508,1546,844,267,10,54,49,18,36741
16,충북,5270,11,9433,1111,82,1850,894,19,12,...,5283,3163,1292,546,158,8,42,46,28,29829

In [60]:
df_trans_after = df_trans_after.rename(columns={'index':'state'})
df_trans_after

,state,0,1,2,3,4,5,6,7,8,...,11,12,13,14,15,16,17,18,19,total_sum
0,강원,4202,10,7745,918,90,1718,847,15,11,...,5427,3294,1232,671,147,5,47,30,1,27001
1,경기,37403,66,75380,13914,899,14404,8317,159,90,...,45904,31916,5738,6093,1434,70,317,309,27,248351
2,경남,12638,14,23892,2400,276,3585,2014,55,40,...,12898,7775,3091,1451,393,10,101,75,2,72048
3,경북,8616,7,13688,1506,150,2814,1444,32,22,...,7869,4422,2174,847,270,20,60,69,7,44981
4,광주,4945,6,7943,1606,133,1498,909,13,16,...,5293,3714,843,489,128,9,65,39,6,28288
5,대구,9309,7,15393,2352,149,2587,1396,27,23,...,8518,5492,1797,933,188,6,54,44,4,49329
6,대전,5081,6,9321,1295,131,1570,1089,19,10,...,5667,3895,885,642,170,9,39,26,1,30671
7,부산,12748,74,26364,3560,545,3525,2336,48,51,...,12793,7972,2855,1414,373,12,90,73,4,76522
8,서울,33639,39,52627,13728,1068,9413,8901,130,125,...,32900,24030,3413,3889,1015,56,276,210,11,192548
9,세종,1043,1,1119,185,24,246,146,4,1,...,620,320,147,110,31,3,5,4,0,4107
10,울산,2103,5,4288,466,63,714,399,8,5,...,2608,1636,608,267,51,3,15,27,1,13556
11,인천,8183,20,15390,3710,203,3132,2347,46,34,...,11977,8085,1828,1321,521,18,114,85,5,58543
12,전남,5786,8,9374,1309,139,2049,1163,37,12,...,6770,4003,1630,854,175,5,48,50,5,34248
13,전북,5612,5,10524,1109,121,1709,1009,27,21,...,5754,3792,1070,605,169,3,57,45,13,32319
14,제주,3055,9,4769,856,59,1247,613,19,13,...,3883,2498,713,526,97,4,17,28,0,18841
15,충남,7149,14,10731,1563,150,2336,1302,34,25,...,6296,3508,1546,844,267,10,54,49,18,36741
16,충북,5270,11,9433,1111,82,1850,894,19,12,...,5283,3163,1292,546,158,8,42,46,28,29829

In [61]:
df_trans_after.columns

Index([    'state',           0,           1,           2,           3,
                 4,           5,           6,           7,           8,
                 9,          10,          11,          12,          13,
                14,          15,          16,          17,          18,
                19, 'total_sum'],
      dtype='object')

In [62]:
df3 = df_trans_after[['state', 'total_sum']]
df3

   state  total_sum
0     강원      27001
1     경기     248351
2     경남      72048
3     경북      44981
4     광주      28288
5     대구      49329
6     대전      30671
7     부산      76522
8     서울     192548
9     세종       4107
10    울산      13556
11    인천      58543
12    전남      34248
13    전북      32319
14    제주      18841
15    충남      36741
16    충북      29829

In [64]:
df3.dtypes

state        object
total_sum     int64
dtype: object

In [65]:
# 총 범죄건수 변수 할당
total_crime = df3.total_sum.sum(axis=0)
total_crime

997923

In [66]:
# 지역별 범죄율 구하기
df3['crime_rate'] = round(df3['total_sum']/total_crime, 4)
df_crime = df3[['state', 'crime_rate']]

In [69]:
df3

   state  total_sum  crime_rate
0     강원      27001      0.0271
1     경기     248351      0.2489
2     경남      72048      0.0722
3     경북      44981      0.0451
4     광주      28288      0.0283
5     대구      49329      0.0494
6     대전      30671      0.0307
7     부산      76522      0.0767
8     서울     192548      0.1929
9     세종       4107      0.0041
10    울산      13556      0.0136
11    인천      58543      0.0587
12    전남      34248      0.0343
13    전북      32319      0.0324
14    제주      18841      0.0189
15    충남      36741      0.0368
16    충북      29829      0.0299

In [67]:
df_crime.state.tolist()

['강원',
 '경기',
 '경남',
 '경북',
 '광주',
 '대구',
 '대전',
 '부산',
 '서울',
 '세종',
 '울산',
 '인천',
 '전남',
 '전북',
 '제주',
 '충남',
 '충북']

In [70]:
# state 명 변경
'''
서울특별시
부산광역시
인천광역시
대구광역시
대전광역시
광주광역시
울산광역시
세종특별자치시
경기도
강원도
충청북도
전라북도
전라남도
경상북도
경상남도
제주특별자치도
'''
state_error = ['강원', '경기', '경남', '경북', '광주', '대구', '대전', '부산', '서울', '세종', '울산', '인천', '전남', '전북', '제주', '충남', '충북']
state_correct = ['강원도', '경기도', '경상남도', '경상북도', '광주광역시', '대구광역시', '대전광역시', '부산광역시', '서울특별시', '세종특별자치시', '울산광역시', '인천광역시', '전라남도', '전라북도', '제주특별자치도', '충청남도', '충청북도']

# 행정구역별 딕셔너리화
dict_state = dict(zip(state_error, state_correct))
dict_state

{'강원': '강원도',
 '경기': '경기도',
 '경남': '경상남도',
 '경북': '경상북도',
 '광주': '광주광역시',
 '대구': '대구광역시',
 '대전': '대전광역시',
 '부산': '부산광역시',
 '서울': '서울특별시',
 '세종': '세종특별자치시',
 '울산': '울산광역시',
 '인천': '인천광역시',
 '전남': '전라남도',
 '전북': '전라북도',
 '제주': '제주특별자치도',
 '충남': '충청남도',
 '충북': '충청북도'}

In [74]:
df3 = df3.replace({'state': dict_state})
df3.drop(['crime_rate'], axis=1, inplace=True)

KeyError: "['crime_rate'] not found in axis"

In [75]:
df3

      state  total_sum
0       강원도      27001
1       경기도     248351
2      경상남도      72048
3      경상북도      44981
4     광주광역시      28288
5     대구광역시      49329
6     대전광역시      30671
7     부산광역시      76522
8     서울특별시     192548
9   세종특별자치시       4107
10    울산광역시      13556
11    인천광역시      58543
12     전라남도      34248
13     전라북도      32319
14  제주특별자치도      18841
15     충청남도      36741
16     충청북도      29829

In [77]:
df3.to_csv("C:/Users/samsung/TIL/DS/project/miniPJ/01_pj/data/total_crime.csv", index=False, encoding='cp949')

In [31]:
df_crime = df_crime.replace({'state': dict_state})

df_crime
# df_crime.loc[df_crime.state == '강원', 'state'] = '강원도'
# df_crime.loc[df_crime.state == '경기', 'state'] = '강원도'
# df_crime.loc[df_crime.state == '경남', 'state'] = '강원도'
# df_crime.loc[df_crime.state == '강원', 'state'] = '강원도'
# df_crime.loc[df_crime.state == '강원', 'state'] = '강원도'
# df_crime.loc[df_crime.state == '강원', 'state'] = '강원도'
# df_crime.loc[df_crime.state == '강원', 'state'] = '강원도'
# df_crime.loc[df_crime.state == '강원', 'state'] = '강원도'
# df_crime.loc[df_crime.state == '강원', 'state'] = '강원도'
# df_crime.loc[df_crime.state == '강원', 'state'] = '강원도'

      state  crime_rate
0       강원도      0.0271
1       경기도      0.2489
2      경상남도      0.0722
3      경상북도      0.0451
4     광주광역시      0.0283
5     대구광역시      0.0494
6     대전광역시      0.0307
7     부산광역시      0.0767
8     서울특별시      0.1929
9   세종특별자치시      0.0041
10    울산광역시      0.0136
11    인천광역시      0.0587
12     전라남도      0.0343
13     전라북도      0.0324
14  제주특별자치도      0.0189
15     충청남도      0.0368
16     충청북도      0.0299

In [32]:
# 최종본
df_crime

      state  crime_rate
0       강원도      0.0271
1       경기도      0.2489
2      경상남도      0.0722
3      경상북도      0.0451
4     광주광역시      0.0283
5     대구광역시      0.0494
6     대전광역시      0.0307
7     부산광역시      0.0767
8     서울특별시      0.1929
9   세종특별자치시      0.0041
10    울산광역시      0.0136
11    인천광역시      0.0587
12     전라남도      0.0343
13     전라북도      0.0324
14  제주특별자치도      0.0189
15     충청남도      0.0368
16     충청북도      0.0299

In [ ]:
# 파일 저장
df_crime.to_csv("C:/Users/samsung/TIL/DS/project/miniPJ/01_pj/data/df_crime.csv", index=False, encoding='utf-8-sig')

In [ ]:
# end-of-file

In [ ]:
# 저장한 파일 불러오기 테스트
test = pd.read_csv('C:/Users/samsung/TIL/DS/project/miniPJ/01_pj/data/df_crime.csv')
test